<div class="slide" id="slide" ng-click="looseFocusItem()">

  <div id='welcome-wrapper'>
    <h1 id="welcome-title" itemprop="name">UNISPHERE</h1>
    <h2 id="welcome-comment" itemprop="description">{{ 'WEB_WELCOME_COMMENT' | translate }}</h2>
  </div>

  <div id="test-app-advise-container">
    <div id='test-app-advise'>{{ 'WEB_TEST_VERSION' | translate }}</div>
  </div>
  <div id='test-app'>
    <div id='test-app-buttons-1'></div>
    <div id='test-app-buttons-2'></div>
    <div id='test-app-buttons-3'></div>

    <sidebar ng-show="$root.admin" view-dashboard = 'viewDashboard' view-home = 'viewHome'></sidebar>
    <admin-co ng-hide="$root.admin"></admin-co>
    <div class="test-app-content">
      <div id="tutorial-left-tree" ng-hide="!$root.help || $root.tutorialLeftTreeSeen" ng-click="$root.tutorialLeftTreeOpen = true; $event.stopPropagation(); $root.setHelp()">
        <span id="tutorial-text-box-left-tree" class="tutorial-text-box" ng-show="$root.tutorialLeftTreeOpen">{{ 'TUTO_5' | translate }}</span>
        <span class="tutorial-round" ng-hide="$root.tutorialLeftTreeOpen"></span>
      </div>

      <left-tree ng-show = "viewHome" id="view-tree" active-nodes = 'activeNodes' active-chapter = 'activeChapter' view-news = 'viewNews' viewhome = 'viewhome'></left-tree>

      <right-tree ng-show = "viewHome" files = 'files' active-chapter = 'activeChapter' loose-focus-item = 'looseFocusItem' is-chrome = 'isChrome'></right-tree>

      <div ng-show="viewDashboard">
        <metrics id="metrics" viewdashboard = 'viewdashboard'></metrics>
      </div>
    </div>
  </div>

  <div id="separation-banner" class="banner">
    <span >{{ 'WEB_SEPARATION_BANNER' | translate }}</span>
  </div>

  <div id='features-wrapper'>

    <div id="feature-collaborate" class='feature' itemprop="potentialAction" itemscope itemtype="http://schema.org/Action">
      <div class='feature-content feature-left'>
        <h3 class='content-title' itemprop="decription">{{ 'WEB_FEATURE_1' | translate }}</h3>
        <p>{{ 'WEB_FEATURE_2' | translate }}</br>
        {{ 'WEB_FEATURE_3' | translate }}</p>
      </div>
      <%= image_tag "treeView.png", class: "feature-image feature-right", alt: 'Collaborative work' %>
    </div>

    <div id="feature-share" class='feature' itemprop="potentialAction" itemscope itemtype="http://schema.org/Action">
      <%= image_tag "documents.png", class: "feature-image feature-left" , alt: 'Easy to share files'%>
      <div class='feature-content feature-right'>
        <h3 class='content-title' itemprop="decription">{{ 'WEB_FEATURE_4' | translate }}</h3>
        <p>{{ 'WEB_FEATURE_5' | translate }}</p>
      </div>
    </div>

    <div id="feature-analyse" class='feature' itemprop="potentialAction" itemscope itemtype="http://schema.org/Action">
      <div class='feature-content feature-left'>
        <h3 class='content-title' itemprop="decription">{{ 'WEB_FEATURE_6' | translate }}</h3>
        <p>{{ 'WEB_FEATURE_7' | translate }}</p>
      </div>
      <%= image_tag "metrics.png", class: "feature-right feature-image", alt: 'Students behavior' %>
    </div>

    <div id="feature-deploy" class='feature' itemprop="potentialAction" itemscope itemtype="http://schema.org/Action">
      <div class="feature-left feature-content feature-center">
        <div class="subdomain ">
          <i class="fa fa-search"></i><span>{{ 'WEB_FEATURE_8' | translate }}</span>
        </div>
      </div>
      <div class='feature-content feature-right'>
        <h3 class='content-title' itemprop="decription">{{ 'WEB_FEATURE_9' | translate }}</h3>
        <p>{{ 'WEB_FEATURE_10' | translate }}</br>
        {{ 'WEB_FEATURE_11' | translate }}</p>
      </div>
    </div>

  </div>

<!--   <div id="university-banner" class="banner">
    <span>Hundreds of students and teachers are already using Unisphere.</span>
  </div> -->

  <slide2 id="slide2"></slide2>

  <!-- <div id="universities-list-wrapper">
    <div id="universities-list-title">Institutions</div>
    <a class="university-item" href="http://lycee-kleber.unisphere.eu">Lycée Kléber - Strasbourg</a>
    <a class="university-item" href="http://lycee-couffignal.unisphere.eu">Lycée Couffignal - Strasbourg</a>
    <a class="university-item" href="http://fseg.unisphere.eu">Faculté des sciences économiques et de gestion - Strasbourg</a>
  </div> -->

  <div id="contact-wrapper" itemprop="potentialAction" itemscope itemtype="http://schema.org/Action">
    <div id="contact-form">
      <h3 class='contact-form-title' itemprop="description">{{ 'WEB_CONTACT_1' | translate }}</h3>
      <div class="contact-input-wrapper-left">
        <input class="contact-input contact-input-margin" type="email" ng-model="webEmail" placeholder='Email'>
        <input class="contact-input" type="text" ng-model="webUniversity" placeholder='University'>
      </div>
      <textarea class="contact-textarea" type="text" ng-model="webMessage" placeholder='Message'></textarea><br>
      <button ng-click="newContact()" class="contact-button">{{ 'WEB_CONTACT_2' | translate }}</button>
    </div>
  </div>

  <slide5 id="slide5" itemprop="manufacturer" itemscope itemtype="http://schema.org/Organization"></slide5>

</div>



