<div id="slide2">
  
  <div id='map-itself'>
    <map
      center="[48.46, 7.48]"
      disable-default-u-i="true"
      disable-double-click-zoom="true"
      draggable="true"
      draggable-cursor="url(http://www.google.com/intl/en_ALL/mapfiles/openhand.cur), auto"
      dragging-cursor="move"
      keyboard-shortcuts="false"
      zoom="6"
      max-zoom="12"
      min-zoom="4"
      tilt="45"
      map-type-id="ROADMAP"
      scrollwheel="false"
      zoom-control="true"
      pan-control="true"
      >
    </map>

    <!-- Google Autocomplete -->
    <div id="uni-input">
      <div id="uni-input-black-bg"></div>
      <div id="location-wrapper">
        <div id="location" ng-show="geolocation" ng-click="centerMap()" class="fa fa-location-arrow"></div>
        <div id="uni-input-form">
          <!-- <button id="location-button" class="">ll</button> -->
          <input places-auto-complete size=80
            ng-model="address"
            types= ['establishment']
            on-place-changed="placeChanged(place)"
            class="search-input home-input"
            placeholder="School name"
          />
        </div>
      </div>
    </div>
  </div>

</div>
