<div class="slide" id="slide3">
  <div></div>
  <!-- <div ng-include="'home/demo-app-navbar.html'"></div> -->
  <object id="screen-pic" type="image/svg+xml" data='<%= asset_path "macbook.svg" %>'></object>

  <%#= image_tag "screen.png", id: "screen-pic" %>
  <div id="slide3-wrapper">
    <div id="view-tree">
      <collapsible-tree  node-end = 'nodeEnd' display-error ='displayError' active-nodes = 'activeNodes' admin = "true" ></collapsible-tree>
    </div>

    <view-document active-nodes='activeNodes' node-end='nodeEnd' files = 'files' display-error = 'displayError' ng-show="nodeEnd" admin = "true"></view-document>
  </div>
  
</div>


