<div class="slide" id="slide" ng-click="looseFocusItem()">

  <div id='welcome-wrapper'>
    <h1 id="welcome-title">UNISPHERE</h1>
    <h2 id="welcome-comment">{{ 'WEB_WELCOME_COMMENT' | translate }}</h2>
  </div>

  <div id='test-app'>
    <sidebar ng-show="admin" home = 'true' deconnection = 'deconnection' superadmin = 'superadmin' viewdashboard = 'viewdashboard' viewhome = 'viewhome' admin='admin' reload-nodes = 'reloadNodes' reload-graph = 'reloadGraph'></sidebar>
    <admin-co ng-hide="admin" get-basic-info = 'getBasicInfo' admin = 'admin' home = 'true' superadmin = 'superadmin'></admin-co>
    <div id='test-app-buttons-1'></div>
    <div id='test-app-buttons-2'></div>
    <div id='test-app-buttons-3'></div>
    <div class="test-app-content">
      <left-tree ng-show = "viewhome" id="view-tree" node-end = 'nodeEnd' active-nodes = 'activeNodes' admin = 'admin'  home ='true' sandbox = 'sandbox' help = 'help' chapter-folded = 'chapterFolded' active-chapter = 'activeChapter' breadcrumb = 'breadcrumb' nodes = 'nodes' folded-nodes= 'foldedNodes' cookie-gestion = 'cookieGestion' user-id = 'userId' reload-nodes ='reloadNodes' view-news = 'viewNews' superadmin = 'superadmin' viewhome = 'viewhome'></left-tree>

      <right-tree ng-show = "viewhome" active-nodes='activeNodes' node-end='nodeEnd' files = 'files' admin = 'admin' sandbox = 'false' home = 'true' chapter-folded = 'chapterFolded' active-chapter = 'activeChapter' breadcrumb = 'breadcrumb' reload-nodes ='reloadNodes' user-id = 'userId' loose-focus-item = 'looseFocusItem' superadmin = 'superadmin' home = 'true'></right-tree>

      <div ng-show="viewdashboard">
        <metrics university = 'university' id="metrics" viewdashboard = 'viewdashboard' reload-graph = 'reloadGraph'></metrics>
      </div>
    </div>


  </div>

  <div id="separation-banner" class="banner">
    <span>{{ 'WEB_SEPARATION_BANNER' | translate }}</span>
  </div>



  <div id='features-wrapper'>

    <div class='feature'>
      <div class='feature-content feature-left'>
        <h2 class='content-title'>{{ 'WEB_FEATURE_1' | translate }}</h2>
        <p>{{ 'WEB_FEATURE_2' | translate }}</br>
        {{ 'WEB_FEATURE_3' | translate }}</p>
      </div>
      <%= image_tag "tree.png", class: "feature-image feature-right" %>
    </div>

    <div class='feature '>
      <%= image_tag "documents.png", class: "feature-image feature-left"  %>
      <div class='feature-content feature-right'>
        <h2 class='content-title'>{{ 'WEB_FEATURE_4' | translate }}</h2>
        <p>{{ 'WEB_FEATURE_5' | translate }}</p>
      </div>
    </div>

    <div class='feature'>
      <div class='feature-content feature-left'>
        <h2 class='content-title'>{{ 'WEB_FEATURE_6' | translate }}</h2>
        <p>{{ 'WEB_FEATURE_7' | translate }}</p>
      </div>
      <%= image_tag "metrics.png", class: "feature-right feature-image"  %>
    </div>

    <div class='feature'>
      <div class="feature-left feature-content feature-center">
        <div class="subdomain ">
          <i class="fa fa-search"></i><span>{{ 'WEB_FEATURE_8' | translate }}</span>
        </div>
      </div>
      <div class='feature-content feature-right'>
        <h2 class='content-title'>{{ 'WEB_FEATURE_9' | translate }}</h2>
        <p>{{ 'WEB_FEATURE_10' | translate }}</br>
        {{ 'WEB_FEATURE_11' | translate }}</p>
      </div>
    </div>

  </div>

<!--   <div id="university-banner" class="banner">
    <span>Hundreds of students and teachers are already using Unisphere.</span>
  </div> -->

  <slide2 id="slide2"></slide2>

  <!-- <div id="universities-list-wrapper">
    <div id="universities-list-title">Institutions</div>
    <a class="university-item" href="http://lycee-kleber.unisphere.eu">Lycée Kléber - Strasbourg</a>
    <a class="university-item" href="http://lycee-couffignal.unisphere.eu">Lycée Couffignal - Strasbourg</a>
    <a class="university-item" href="http://fseg.unisphere.eu">Faculté des sciences économiques et de gestion - Strasbourg</a>
  </div> -->

  <div id="contact-wrapper">
    <div id="contact-form">
      <h2 class='contact-form-title'>{{ 'WEB_CONTACT_1' | translate }}</h2>
      <div class="contact-input-wrapper-left">
        <input class="contact-input contact-input-margin" type="email" ng-model="webEmail" placeholder='Email'>
        <input class="contact-input" type="text" ng-model="webUniversity" placeholder='University'>
      </div>
      <textarea class="contact-textarea" type="text" ng-model="webMessage" placeholder='Message'></textarea><br>
      <button ng-click="newContact()" class="contact-button">{{ 'WEB_CONTACT_2' | translate }}</button>
    </div>
  </div>

  <slide5 id="slide5"></slide5>

</div>



