<div class="slide" id="slide4">
  <div id="separation-title-features">
  Why you should use Unisphere
  </div>

  <div class="features features-lecturers">
    <div class="features-title">
      <i class="fa fa-graduation-cap"></i>
      <span class="features-title-text">Lecturers</span>
    </div>

    <div class="feature-row-left">
      <div class="feature">
        <div class="feature-title" id="feature-intuitive">
          <i class="fa fa-gears"></i>
          <span class="feature-title-text">Intuitive</span>
        </div>
        <div class="feature-body">Our application is very easy to use</div>
      </div>

      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-gears"></i>
          <span class="feature-title-text">Support</span>
        </div>
        <div class="feature-body">All lecturers have access to a direct chat box to our support team</div>
      </div>
    </div>

    <div class="feature-row-left second-row">
      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-gears"></i>
          <span class="feature-title-text">Ease to import files</span>
        </div>
        <div class="feature-body">Our application is incredibly easy to use. You can just drag and drop a folder with all your files.</div>
      </div>

      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-gears"></i>
          <span class="feature-title-text">Statistique</span>
        </div>
        <div class="feature-body">Each lecturer can access a comprehensive dashboard to analyse his students behavior on the applicaiton</div>
      </div>
    </div> 
  </div>



  <div class="features feature-uni">

    <div class="features-title">
      <i class="fa fa-university"></i>
      <span class="features-title-text">University</span>
    </div>

    <div class="feature-row-right">
      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-gears"></i>
          <span class="feature-title-text">Cheap</span>
        </div>
        <div class="feature-body">Yes. It is cheap. Our solutions is many times cheaper than using "free softwares" like moodle.</div>
      </div>

      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-gears"></i>
          <span class="feature-title-text">Plug-in</span>
        </div>
        <div class="feature-body">Our Solution works like a plug-in. No need to struggle in configurations.</div>
      </div>
    </div>

    <div class="feature-row-right second-row">
      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-gears"></i>
          <span class="feature-title-text">Awesome support</span>
        </div>
        <div class="feature-body">Being a start-up we have means to give every institions a personalised support</div>
      </div>

      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-gears"></i>
          <span class="feature-title-text">Innovation</span>
        </div>
        <div class="feature-body">Our application uses the latest technologies. Just give it a try you will feel the difference.</div>
      </div>
    </div> 
  </div>
</div>

