<div id="slide2" class="slide">

  <div class="slide-title">Find your university</div>
  
  <!-- <div id="arrow-down-map"></div> -->

  <map 
    center="[48.46, 7.48]" 
    disable-default-u-i="true"
    disable-double-click-zoom="true"
    draggable="true"
    draggable-cursor="auto"
    dragging-cursor="move"
    keyboard-shortcuts="false"
    zoom="6" 
    max-zoom="14"
    min-zoom="4"
    tilt="45"
    map-type-id="ROADMAP"
    scrollwheel="false"
  >

  </map>

  <div id="uni-input">
    <div id="uni-input-black-bg"></div>
    <div id="uni-input-form">
      <!-- <button id="location-button" class="">ll</button> -->

      <input places-auto-complete size=80 
        ng-model="address" 
        component-restrictions="{country:'fr'}"
        types="{{types}}"
        on-place-changed="placeChanged(place)" 
        class="search-input"
        placeholder="university name"

      /> 

      <button class="search-button" ng-click="lookForUni()">Search</button>
    </div>
  </div>

<!--   <div ng-show="place">
    address : {{address}}
    Address = {{place.formatted_address}} 
  </div> -->
</div>