<div class="slide" id="slide1">
  <div class="welcome-wrapper">
    <div class="welcome-title">
      <span class="unisphere">UNISPHERE</span>
      <span class="main-title">Collaborative workspace for students</span>
      <span class="subtitle">Share, communicate and plan</span>
    </div>
  </div>
</div>


