<div class="slide" id="slide4">
  <div id="separation-title-features">
  A lot of awesome features
  </div>

  <div class="features features-lecturers">
    <div class="features-title">
      <i class="fa fa-graduation-cap"></i>
      <span>Lecturers</span>
       <span class="features-title-text">" Finally an app that focuses on your needs "</span>
    </div>

    <div class="feature-row-left">
      <div class="feature">
        <div class="feature-title" id="feature-intuitive">
          <i class="fa fa-unlock"></i>
          <span class="feature-title-text">Intuitive</span>
        </div>
        <div class="feature-body">How many outdated software have you been forced to use ? We genuinely conceived unisphere so as a child could use it.</div>
      </div>

      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-comments-o"></i>
          <span class="feature-title-text">Awesome support</span>
        </div>
        <div class="feature-body">We want you to have the best user experience possible. At any time you can use the in-app chat to discuss with us.</div>
      </div>
    </div>

    <div class="feature-row-left second-row">
      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-bolt"></i>
          <span class="feature-title-text">Ease to import files</span>
        </div>
        <div class="feature-body">We don't want you bored. Importing your files is a brease. Just drag and drop your folders.</div>
      </div>

      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-bar-chart-o"></i>
          <span class="feature-title-text">Personalized statistics</span>
        </div>
        <div class="feature-body">Big brother is watching your students. Track and analyse their behaviors!</div>
      </div>
    </div> 
  </div>



  <div class="features feature-uni">

    <div class="features-title">
      <i class="fa fa-university"></i>
      <span>Institutions</span>
      <span class="features-title-text">" Move on from expensive outdated software "</span>
    </div>

    <div class="feature-row-right">
      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-rocket"></i>
          <span class="feature-title-text">Innovation</span>
        </div>
        <div class="feature-body">Tired of your old file sharing system ? Our application uses the latest technologies. Just give it a try you will feel the difference.</div>
      </div>
      

      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-cubes"></i>
          <span class="feature-title-text">Plug-in</span>
        </div>
        <div class="feature-body">We know you don't want to change your learning management infrastructure. Just put a link toward our app. No configuration.</div>
      </div>
    </div>

    <div class="feature-row-right second-row">
      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-life-saver"></i>
          <span class="feature-title-text">Security</span>
        </div>
        <div class="feature-body">Your data is safe with us. We store only the bare minimum and keep guard it fiercely.</div>
      </div>
      
      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-money"></i>
          <span class="feature-title-text">Cheap</span>
        </div>
        <div class="feature-body">Yes. It is cheap. Our solution is way cheaper than using "free softwares" like moodle.</div>
      </div>

    </div> 
  </div>


</div>

