<div class="slide" id="slide1">
  <div class="welcome-wrapper">
    <span id="welcome-title">UNISPHERE</span>
    <span id="welcome-subtitle">Workspace for educational institutions</span>

    <div id="call-to-action-wrapper">
      <!-- <div id="call-to-action">Try it now</div> -->
      <!-- <div id="call-to-action-bg"></div> -->
      <div id="rectangle-left"></div>
      <div id="triangle-left"></div>
      <div id="triangle-right"></div>
      <div id="rectangle-right"></div>
    </div>
  </div>
  <div class="purpose">Clean, reliable and easy to use</div>
  <div class="purpose">Just try it yourself!</div>

  <div class="separation-line"></div>
<!--   <div id="try-it">try it for yourself!</div>
  <div class="separation-triangle"></div> -->
</div>



