<div id="slide2">

  <div id='map-itself'>
    <map
      center="[48.46, 7.48]"
      disable-default-u-i="true"
      disable-double-click-zoom="true"
      draggable="true"
      draggable-cursor="url(http://www.google.com/intl/en_ALL/mapfiles/openhand.cur), auto"
      dragging-cursor="move"
      keyboard-shortcuts="false"
      zoom="6"
      max-zoom="12"
      min-zoom="4"
      tilt="45"
      map-type-id="ROADMAP"
      scrollwheel="false"
      zoom-control="true"
      pan-control="true"
      >
    </map>

    <!-- Google Autocomplete -->
    <div id="uni-input">
      <div id="uni-input-black-bg"></div>
      <div id="location-wrapper">
        <div id="location" ng-show="geolocation" ng-click="centerMap()" class="fa fa-location-arrow"></div>
        <div id="uni-input-form">
          <!-- <button id="location-button" class="">ll</button> -->
          <input places-auto-complete size=80
            ng-model="address"
            types= ['establishment']
            on-place-changed="placeChanged(place)"
            class="search-input home-input"
            placeholder="School name"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Popup if school exist -->
  <div class="school-popup-wrapper" id="existing-school-display-wrapper" ng-show="showExistingSchool" ng-class="{'school-ready-to-disappear': !showExistingSchool, 'school-ready-to-appear': showExistingSchool}">
    <div class="school-header">{{place.name}} already uses Unisphere<span class="fa fa-times" ng-click="closePopupMap()"></span></div>
    <div class="school-display">
      <span class="school-display-row-center">{{place.formatted_address}} </span>
      <span class="school-display-row-center"><a class="school-link" target="_blank" ng-href="{{showExistingSchool}}">{{showExistingSchool}}</a></span>
    </div>
    <div class="school-display-bg"></div>
  </div>

  <!-- Popup for new school -->
  <div class="school-popup-wrapper" id="new-school-display-wrapper" ng-show="showNewSchool" ng-class="{'school-ready-to-disappear': !showNewSchool, 'school-ready-to-appear': showNewSchool}" novalidate>
    <div class="school-header">Subscribe {{place.name}} to Unisphere
    <span class="fa fa-times" ng-click="closePopupMap()"></span></div>

    <div class="school-display">
      <span class="school-display-row-center">{{place.formatted_address}} </span>
      <button id="add-school" class="home-button" ng-click="findUrl()">Get started</button>
    </div>

    <div class="school-display-bg"></div>
  </div>

  <div class="separation-line"></div>

</div>

