<div class="slide" id="slide">
  
  <div id='welcome-wrapper'>
    <div id="welcome-title">UNISPHERE</div>
    <div id="welcome-comment">A collaborative worspace for educational institutions</div>
  </div>
  
  <div id='test-app'>
    TEST APP
  </div>
  
  <div id='features-wrapper'>
    <div class='feature'>
      <div class='feature-content'>
        <div class='content-title'>Share & Collaborate</div>
        The left tree represents the univeristy.<br>
        All teachers are working on the same worspace.
      </div>
      <div class='feature-content'>
        <%= image_tag "tree.png" %>
      </div>
    </div>
    <div class='feature'>
      <div class='feature-content'>
        <%= image_tag "metrics.png" %>
      </div>
      <div class='feature-content'>
        <div class='content-title'>Customs Metrics</div>
        Teachers have access to customs metrics about their data usage by students.
      </div>
    </div>
  </div>
  
  <div id='map-wrapper'>
    <div class='content-title'>Hundreds of students & teachers are already using Unisphere</div>
    <div id='map-picture'>
      MAP
    </div>
  </div>
  
  <div id='deployement-wrapper'>
    <div class='deployement-content'>
      <div class='content-title'>Quick & easy deployement</div>
      We can create your own application in less then 2 minutes.<br>
      Its configuration is way easier then worspace on the market.<br>
      Create your tree representations and invite collegues.
    </div>
    <div class='deployement-content subdomain'>
      <i class="fa fa-search"></i> www.your-university.unisphere.eu ...
    </div>
  </div>
  
  <div id="contact-wrapper">

    <div class="contact-content">
      <p><i class="fa fa-envelope"></i></p>
      hello@unisphere.eu
    </div>

    <div class="contact-content">
      <p><i class="fa fa-home"></i></p>
      Strasbourg, France
    </div>

    <div class="contact-content">
      <p><i class="fa fa-tumblr"></i></p>
      www.blog.unisphere.eu
    </div>
      
  </div>
  
  <div id="footer-web">
    <i class="fa fa-copyright"></i>2015 Unisphere SAS
  </div>
  
</div>



