<div class="slide" id="slide3">

  <div id="demo-wrapper">
    <div id="fake-camera-1"></div>
    <div id="fake-camera-2"></div>

    <div id="view-tree">
      <left-tree  node-end = 'nodeEnd' active-nodes = 'activeNodes' admin = "true" sandbox = 'sandbox' home='home'></left-tree>
    </div>

    <right-tree active-nodes='activeNodes' node-end='nodeEnd' files = 'files' ng-show="nodeEnd" admin = "true" sandbox = 'sandbox' home='home'></right-tree>
  </div>

  <div id="fake-liasion">
    <div id="fake-liasion-right"></div>
    <div id="fake-liasion-left"></div>
  </div>

  <div id="fake-keyboard-wrapper">
    <div id="fake-pad"></div>
  </div>

  <div class="separation-line"></div>
</div>




