<div class="slide" id="slide3">

  <div id="demo-wrapper">
    <div id="fake-camera-1"></div>
    <div id="fake-camera-2"></div>

    <div id="view-tree">
      <collapsible-tree  node-end = 'nodeEnd' display-error ='displayError' active-nodes = 'activeNodes' admin = "true" home = "true" sandbox-nodes = 'sandboxNodes' ></collapsible-tree>
    </div>

    <view-document active-nodes='activeNodes' node-end='nodeEnd' files = 'files' display-error = 'displayError' ng-show="nodeEnd" admin = "true" home = "true"></view-document>
  </div>

  <div id="fake-liasion">
    <div id="fake-liasion-right"></div>
    <div id="fake-liasion-left"></div>
  </div>

  <div id="fake-keyboard-wrapper">
    <div id="fake-pad"></div>
  </div>
  
   <!-- <div id="separation-line"></div> -->
</div>




