
  <div class="contact-icons" >
    <!-- <div class="icon-hover">
      <p><a target="_blank" href="#"><i class="fa fa-phone"></i></a></p>
      <span class="hover-text">+33 3 88 00 00 00</span>
    </div> -->

    <a target="_blank" href="mailto:hello@unisphere.eu" class="icon-hover">
      <p><i class="fa fa-envelope"></i></p>
      <span class="hover-text">hello@unisphere.eu</span>
    </a>

    <!-- <div class="icon-hover">
      <p><a target="_blank" href="#"><i class="fa fa-home"></i></a></p>
      <span class="hover-text">Strasbourg, France<br>zip code 67000</span>
    </div> -->

    <a class="icon-hover" target="_blank" href="http://blog.unisphere.eu/">
      <p><i class="fa fa-tumblr"></i></p>
      <span class="hover-text">www.blog.unisphere.eu</span>
    </a>

    <a class="icon-hover" target="_blank" href="#">
      <p><i class="fa fa-facebook"></i></p>
      <span class="hover-text">facebook/unisphere</span>
    </a>

  <div id="footer">
    <span id="privacy"><i class="fa fa-copyright"></i>2015 Unisphere SAS</span>
  </div>


