<div id="slide2" class="slide">

  <div class="slide-title">Find your university</div>
  
  <!-- <div id="arrow-down-map"></div> -->

  <map 
    center="[48.46, 7.48]" 
    disable-default-u-i="true"
    disable-double-click-zoom="true"
    draggable="true"
    draggable-cursor="auto"
    dragging-cursor="move"
    keyboard-shortcuts="false"
    zoom="6" 
    max-zoom="14"
    min-zoom="4"
    tilt="45"
    map-type-id="ROADMAP"
    scrollwheel="false"
  >

  </map>

  <div id="uni-input">
    <div id="uni-input-black-bg"></div>
    <div id="uni-input-form">
      <!-- <button id="location-button" class="">ll</button> -->
      <input places-auto-complete size=80 
        ng-model="address" 
        component-restrictions="{country:'fr'}"
        types="{{types}}"
        on-place-changed="placeChanged(place)" 
        class="search-input home-input"
        placeholder="university name"

      /> 
    </div>
  </div>

  <div id="existing-school-display-wrapper" ng-show="showExistingSchool" ng-class="{'school-ready-to-disappear': !showExistingSchool, 'school-ready-to-appear': showExistingSchool}">
    <div class="school-header">{{place.name}} already uses Unisphere</div>
    <div class="school-display">
      <span class="school-display-row-center">{{place.formatted_address}} </span>
      <span class="school-display-row-center"><a class="school-link" target="_blank" ng-href="http://{{showExistingSchool.url}}">http://{{showExistingSchool.url}}</a></span>
    </div>
    <div class="school-display-bg"></div>
  </div>

  <div id="new-school-display-wrapper" ng-show="showNewSchool" ng-class="{'school-ready-to-disappear': !showNewSchool, 'school-ready-to-appear': showNewSchool}">
    <div class="school-header">Suscribe {{place.name}} to unisphere</div>

    <div class="school-display">
      <span class="school-display-row-center">{{place.formatted_address}} </span>
      <button id="add-school" class="home-button" ng-click="findUrl()">Get started</button>
    </div>

    <div class="school-display-bg"></div>
  </div>

  <div id="new-school-display-wrapper" ng-show="showNewSchoolUrl" ng-class="{'school-ready-to-disappear': !showNewSchoolUrl, 'school-ready-to-appear': showNewSchoolUrl}">
    <div class="school-header">Suscribe {{place.name}} to unisphere</div>

    <div class="school-display">
      <span class="school-display-row">We are going to create you the following url:</span>
      <span id="choosen-url" class="school-display-row-center">freppel.unisphere.eu <button id="confirm-school" class="home-button" ng-click="confirmUrl()">Confirm</button></span>
      <span id="choose-other-url" class="school-display-row">Would you prefer one of those:</span>
      <span class="school-display-row"><i class="fa fa-check check-left" ng-click="confirmUrl()"></i>freppel67.unisphere.eu</span>
      <span class="school-display-row"><i class="fa fa-check check-left" ng-click="confirmUrl()"></i>freppel-strasbourg.unisphere.eu</span>
    </div>

    <div class="school-display-bg"></div>
  </div>

  <div id="new-school-display-wrapper" ng-show="signupShow" ng-class="{'school-ready-to-disappear': !signupShow, 'school-ready-to-appear': signupShow}">
    <div class="school-header">Admin account for http://freppel.unisphere.eu</div>

    <div class="school-display">
      <input class="signup-input home-input" placeholder="Surname Name"/>
      <input class="signup-input home-input" placeholder="Email"/>
      <input class="signup-input home-input" placeholder="Password"/>
      <button id="signup" class="home-button" ng-click="signup()">Sign up</button>
    </div>

    <div class="school-display-bg"></div>
  </div>

<!--   <div ng-show="place">
    address : {{address}}
    Address = {{place.formatted_address}} 
  </div> -->
</div>