<div class="slide" id="slide4">
  <div id="separation-title-features">
  Awesome Features
  </div>

  <div class="features features-lecturers">
    <div class="features-title">
      <i class="fa fa-graduation-cap"></i>
      <span>Lecturers</span>
       <span class="features-title-text">An app that focuses on your needs</span>
    </div>

    <div class="feature-row-left">
      <div class="feature">
        <div class="feature-title" id="feature-intuitive">
          <i class="fa fa-unlock"></i>
          <span class="feature-title-text">Intuitive</span>
        </div>
        <div class="feature-body">Unisphere's interface is based on a tree improving the user experience</div>
      </div>

      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-comments-o"></i>
          <span class="feature-title-text">Support</span>
        </div>
        <div class="feature-body">At any time you can use the in app chat to discuss with us</div>
      </div>
    </div>

    <div class="feature-row-left second-row">
      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-share-alt"></i>
          <span class="feature-title-text">Sharing</span>
        </div>
        <div class="feature-body">Just share easily you files with students. You can drag & drag folder, the app build its entiere architecture</div>
      </div>

      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-bar-chart-o"></i>
          <span class="feature-title-text">Personalized statistics</span>
        </div>
        <div class="feature-body">Get a feedback about your data consultations</div>
      </div>
    </div> 
  </div>



  <div class="features feature-uni">

    <div class="features-title">
      <i class="fa fa-university"></i>
      <span>Institutions</span>
      <span class="features-title-text">No configuration, just plug in Unisphere</span>
    </div>

    <div class="feature-row-right">
      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-plug"></i>
          <span class="feature-title-text">Plug in</span>
        </div>
        <div class="feature-body">No needs to remove your current learning system, just plug in Unisphere</div>
      </div>
      

      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-database"></i>
          <span class="feature-title-text">No datacenter</span>
        </div>
        <div class="feature-body">No needs to have datacenters, we keep your data safely</div>
      </div>
    </div>

    <div class="feature-row-right second-row">
      <div class="feature">
        <div class="feature-title">
          <i class="fa fa-eye-slash"></i>
          <span class="feature-title-text">Privacy</span>
        </div>
        <div class="feature-body">We do not need to know details about your users, we store the minimum data to sign in them</div>
      </div>

    </div> 
  </div>


</div>

