@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import "swiper/dist/css/swiper";


html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  // text-align: center;
  // display: flex;
}

.mob-large-title{
  width: 100%;
  position: absolute;
  font-size: 2.5em;
  top: 80px;
  text-align: center;
  color: white;
}

.mob-small-title{
  width: 80%;
  left: 10%;
  font-size: 1.1em;
  position: absolute;
  bottom: 160px;
  text-align: center;
  color: white;
}

.swiper-pagination{
  padding-bottom: 40px
}

#mob-slide-1{
  background-image: url(image-path('mob-slide1.jpg'));
  background-size: cover;
}

#mob-slide-2{

}



.wrapper-slide{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#wrapper-slide-1{
  background: #0066CC;
}

#wrapper-slide-2{
  background: #0066CC;
}

#wrapper-slide-3{
  background: #0066CC;
}

.swiper-pagination-bullet-active{
  background: white;
}
