<div id="admin-co" ng-class="{'admin-co-open' : open}">
  <div id="admin-co-header" ng-click="toggleAdmin()">
    <span id="admin-co-title">{{ 'ADMIN_LOGIN' | translate }}</span>
    <i id="admin-co-image" class="fa fa-caret-up"></i>
  </div>
  <form id="admin-co-body" ng-class="{ hidden : !open}" novalidate>
    <input type="email" id="admin-co-email" placeholder="Type your email" class="admin-co-input" ng-model="admincoEmail" required>

    <input type="password" placeholder="Type your password" class="admin-co-input" ng-model="admincoPassword" id="admin-co-password" required>

    <button class="button-green-black" ng-click="adminCoAttempt()">{{ 'VALIDATE' | translate }}</button>


    <div id="admin-co-secondary-options">
      <div id="admin-co-password-forgotten" ng-click="passwordForgotten()">{{ 'PSW_FORGOTTEN' | translate }}</div>
      <div id="admin-co-sign-up" ng-click="signupRequest()">{{ 'SIGN_UP' | translate }}</div>
    </div>
  </form>
</div>
