<div id="delete-node">
  <div id="delete-node-background"></div>
  <div id="delete-button-container">
    <div class="delete-node-title">Delete the node {{nodeSelectedToDelete.name}}</div>
    <div class="delete-button-div " ng-click="deleteNodeAll()">
      <span class="fa fa-trash delete-node-icon" ></span>
      <span class="delete-button-explaining">
        <span class="text-oneline">Delete the chapter</span>
        <!-- <span class="text-oneline">&</span> -->
        <span class="text-oneline">Delete all its content</span>
      </span>
    </div>
    <div class="delete-button-div delete-button-div-right" ng-click="deleteNodeTransfer()" ng-show="allowTransfer">
      <span class="fa fa-exchange delete-node-icon" ></span>
      <span class="delete-button-explaining">
        <span class="text-oneline">Delete the chapter</span>
        <!-- <span class="text-oneline">&</span> -->
        <span class="text-oneline">Transfer content to parent node</span>
      </span>
    </div>
    <div class="fa fa-times"></div>
    <button class="delete-button-cancel" ng-click="deleteNodeCancel()">Cancel</button>
  </div>
</div>
