<div id="dragndrop-view">
  <div id="dragndrop-container">
    <div id="dragndrop-content">
      <%= image_tag("dragndrop.png", id: "dragndrop-image")%>
      <div id="dragndrop-text">{{ 'DROP' | translate }}</div>
    </div>
    <div id="dragndrop-black-area"></div>
  </div>
  <div class="black-background"></div>
</div>
