<div id="right-tree" ng-click="documentLooseFocus()">

  <script type="text/ng-template" id="items_renderer.html">
    <div ui-tree-handle ng-class="{isdocument: item.document, chapterSelected : this.$modelValue.activeItem}" ng-click="activateChapter(this); $event.stopPropagation()" >

      <a class="btn-collapse" nodrag ng-if="!item.document" ng-init="collapseItems(this)"><span class="fa fa-angle-right" ng-class="{'expanded': !collapsed, 'angle-right-hidden' : this.$modelValue.items.length == 0}"></span></a>

      <div class="empty-space" nodrag ng-if="item.document"></div>

      <div ng-init="printChapter(this)" class="chapter-number" ng-if="!item.document" ng-class="{depth1 : item.depth == 1, depth2 : item.depth == 2, depth3 : item.depth == 3, depth4 : item.depth == 4}">{{item.chapter}} </div>

      <div class="fa fa-file-pdf-o file-icon" ng-if="this.$modelValue.document && this.$modelValue.title.substr(this.$modelValue.title.lastIndexOf('.') + 1).toLowerCase() == 'pdf'"></div>

      <div class="fa fa-file-picture-o file-icon" ng-if="this.$modelValue.document && ['png','jpg'].indexOf(this.$modelValue.title.substr(this.$modelValue.title.lastIndexOf('.') + 1).toLowerCase()) >= 0"></div>

      <div class="fa fa-file-o file-icon" ng-hide="!this.$modelValue.document || this.$modelValue.document && ['png','jpg','pdf'].indexOf(this.$modelValue.title.substr(this.$modelValue.title.lastIndexOf('.') + 1).toLowerCase()) >= 0"></div>

      <div class="item-name"><span>{{item.title}}</span></div>

      <a  class="btn btn-download" ng-show="item.document" nodrag ng-click="downloadItem(this); $event.stopPropagation()"><span class="fa fa-arrow-circle-o-down"></span></a>

    </div>

    <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed, containerSelected : this.$modelValue.activeItem}" ng-init="initCounter()">
      <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'"  ng-init="initI()"></li>
    </ol>
  </script>

  <script type="text/ng-template" id="specific_renderer.html">
    <div ui-tree-handle ng-click="selectDrop(this)" ng-if="!item.document">

      <div ng-init="printChapter(this)" class="chapter-number" >{{item.chapter}}</div>

      <div class="item-name">{{item.title}}</div>

    </div>

    <ol ui-tree-nodes="options" ng-model="item.items" ng-init="initCounter()">
      <li ng-repeat="item in item.items" ui-tree-node ng-include="'specific_renderer.html'"  ng-init="initI()" ng-if="!item.document"></li>
    </ol>
  </script>

  <div id="breadcrumb" ng-class="{'breadcrumb-no-doc' : documentAbsent}">
    
    <div id="breadcrumb-container">
      <div id="breadcrumb-title">
        <span ng-repeat="node in breadcrumb track by $index" ng-class="'breadcrumb-node'">{{node}} <span ng-class="'breadcrumb-separator'" ng-if="$index != breadcrumb.length - 1"><i class="fa fa-angle-right" ></i></span></span>
      </div>
    </div>

    <div id="document-tree" >
      <div id="ui-tree-container" ng-if="!documentAbsent && nodeEnd">
        <div ui-tree="options" data-drag-enabled="false"  id="tree-root">
          <ol ui-tree-nodes ng-model="listItems" >
            <li ng-repeat="item in listItems" ui-tree-node ng-include="'items_renderer.html'"></li>
          </ol>
        </div>
      </div>

    </div>
  </div>

