<div id="right-tree">

  <script type="text/ng-template" id="items_renderer.html">
    <div ui-tree-handle ng-class="{isdocument: item.document, itemSelected : item.selectedItem}" ng-click="$event.stopPropagation(); activateChapter(this)">

      <a class="btn-collapse" nodrag ng-if="!item.document" ng-init="collapseItems(this)"><span class="fa fa-angle-right" ng-class="{'expanded': !collapsed, 'angle-right-hidden' : this.$modelValue.items.length == 0}"></span></a>

      <div class="empty-space" nodrag ng-if="item.document"></div>

      <div class="chapter-number" ng-if="!item.document" ng-class="{depth1 : item.depth == 1, depth2 : item.depth == 2, depth3 : item.depth == 3, depth4 : item.depth == 4}">{{item.chapter}} </div>

      <div class="fa fa-file-pdf-o file-icon" ng-if="item.document && this.$modelValue.title.substr(item.title.lastIndexOf('.') + 1).toLowerCase() == 'pdf'"></div>

      <div class="fa fa-file-picture-o file-icon" ng-if="item.document && ['png','jpg'].indexOf(item.title.substr(item.title.lastIndexOf('.') + 1).toLowerCase()) >= 0"></div>

      <div class="fa fa-file-o file-icon" ng-hide="!this.$modelValue.document || item.document && ['png','jpg','pdf'].indexOf(this.$modelValue.title.substr(item.title.lastIndexOf('.') + 1).toLowerCase()) >= 0"></div>

      <div class="item-name"><span>{{item.title}}</span></div>

      <div class="btn btn-options" nodrag ng-click="$event.stopPropagation()">
        <div dropdown-menu="dropdownOptions" dropdown-model="dropdownSelected" dropdown-onchange="actionItem(this)">
          <span class="fa fa-ellipsis-v" ng-click="selectItem(this)"></span>
        </div>
      </div>

    </div>

    <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed, containerSelected : this.$modelValue.activeItem}" ng-init="initCounter()">
      <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'"  ng-init="initI()"></li>
    </ol>
  </script>

  <script type="text/ng-template" id="specific_renderer.html">
    <div ui-tree-handle ng-click="selectDrop(this)" ng-if="!item.document">

      <div ng-init="printChapter(this)" class="chapter-number" >{{item.chapter}}</div>

      <div class="item-name">{{item.title}}</div>

    </div>

    <ol ui-tree-nodes="options" ng-model="item.items" ng-init="initCounter()">
      <li ng-repeat="item in item.items" ui-tree-node ng-include="'specific_renderer.html'"  ng-init="initI()" ng-if="!item.document"></li>
    </ol>
  </script>

  <div id="breadcrumb" ng-class="{'breadcrumb-no-doc' : documentAbsent}">
    <div id="breadcrumb-container">
      <div id="breadcrumb-title">
        <span ng-repeat="node in breadcrumb track by $index" ng-class="'breadcrumb-node'">{{node}} <span ng-class="'breadcrumb-separator'" ng-if="$index != breadcrumb.length - 1"><i class="fa fa-angle-right" ></i></span></span>
      </div>
    </div>

    <div id="protection-node-container" ng-show="nodeEnd && !documentAbsent">
      <button ng-show="nodeProtected" type="button" class="fa fa-lock round-button protection-file-on" ng-click="toggleProtection()" title="{{ 'NODE_LOCKED' | translate}}" ></button>

      <button ng-show="!nodeProtected" type="button" class="fa fa-unlock-alt round-button protection-file-off" ng-click="toggleProtection()" title="{{ 'NODE_UNLOCKED' | translate}}"></button>
    </div>

    <div id="options-node" ng-show="admin && nodeEnd && !documentAbsent" >
      <div dropdown-menu="nodeDropdownOptions" dropdown-model="nodeDropdownSelected" dropdown-onchange="actionNodeOptions()">
        <button type="button" class="round-button fa fa-bars"></button>
      </div>
    </div>
  </div>

  <div id="button-row" ng-class="{'button-hidden' : !nodeEnd || !admin}" ng-click="$event.stopPropagation()">
    <button class="submit-button dual-submit" ng-multiple="true" ng-file-select ng-model="firstFiles" > {{ 'UPLOAD' | translate }} </button>

    <button ng-click="newSubItem()" ng-controller="CrudCtrl" class="submit-button dual-submit"  >{{ 'CHAPTER' | translate }}</button>
  </div>

  <div id="document-tree" >
    <div id="ui-tree-container" ng-if="!documentAbsent && nodeEnd">
      <div ui-tree="options" data-drag-enabled="false"  id="tree-root">
        <ol ui-tree-nodes ng-model="listItems" >
          <li ng-repeat="item in listItems" ui-tree-node ng-include="'items_renderer.html'"></li>
        </ol>
      </div>
    </div>

    <div id="select-leaf" class="full-size-circle-container" ng-show="!nodeEnd || documentAbsent && !admin">
      <div class="full-size-circle">!</div>
    </div>

    <div id="dropzone-circle" class="full-size-circle-container" ng-show="nodeEnd && documentAbsent && admin">
      <div class="full-size-circle" >
        <div id="dropzone-text">DROP ZONE</div>
      </div>
    </div>

    <div class="tip" >
      <i class="fa fa-lightbulb-o" ng-show="admin && nodeEnd"></i>
      <span id="tip-chrome" ng-show="admin && nodeEnd && !isChrome " >{{ 'TIP' | translate }}</span>
      <span id="tip-chrome" ng-show="admin && nodeEnd && isChrome">{{ 'TIP_CHROME' | translate }}</span>

      <div ng-show="documentAbsent && nodeEnd && !admin">{{ 'NEW_SUBJECT' | translate }}</div>
      <div ng-show="!nodeEnd">{{ 'SELECT_LEAF' | translate }}</div>
    </div>

  </div>
</div>














<div id="fileDropped">
  <div class="popup-header">{{ 'DROP_FILE' | translate }}</div>
  <div class="popup-body">
    <div id="file-dropped-position">{{ 'WHERE_DROP' | translate }}</div>
    <div id="root-object" ng-click="rootSelected()">{{ 'ROOT' | translate }}</div>
    <div id="small-ui-tree" ui-tree="options" data-drag-enabled="false">
      <ol ui-tree-nodes ng-model="listItems" >
        <li ng-repeat="item in listItems" ui-tree-node ng-include="'specific_renderer.html'"></li>
      </ol>
    </div>
    <button class="submit-button default-submit" ng-click="cancelDrop()">{{ 'CANCEL' | translate }}</button>
  </div>
</div>

