<div id="view-document" ng-click="documentLooseFocus()">

  <div id="breadcrumb" ng-class="{'breadcrumb-no-doc' : documentAbsent}">
    <div id="breadcrumb-container">
      <div id="breadcrumb-title">
        <span ng-repeat="node in breadcrumb track by $index" ng-class="'breadcrumb-node'">{{node}} <span ng-class="'breadcrumb-separator'"><i class="fa fa-angle-right" ng-if="$index != breadcrumb.length - 1"></i></span></span>
      </div>
    </div>
  </div>


  <script type="text/ng-template" id="items_renderer.html">
    <div ui-tree-handle ng-class="{isdocument: item.document, chapterSelected : this.$modelValue.activeItem}" ng-click="activateChapter(this); $event.stopPropagation()" >

      <a class="btn-collapse" nodrag ng-if="!item.document" ng-init="collapseItems(this)"><span class="fa fa-angle-right" ng-class="{'expanded': !collapsed, 'angle-right-hidden' : this.$modelValue.items.length == 0}"></span></a>

      <div ng-init="printChapter(this)" class="chapter-number">{{item.chapter}} </div>

      <div class="item-name">{{item.title}}</div>
      <div class="fa fa-file-pdf-o file-icon" ng-if="this.$modelValue.document && this.$modelValue.title.substr(this.$modelValue.title.lastIndexOf('.') + 1) == 'pdf'"></div>
      <div class="fa fa-file-picture-o file-icon" ng-if="this.$modelValue.document && ['png','jpg'].indexOf(this.$modelValue.title.substr(this.$modelValue.title.lastIndexOf('.') + 1)) >= 0"></div>
      <div class="fa fa-file-o file-icon" ng-hide="!this.$modelValue.document || this.$modelValue.document && ['png','jpg','pdf'].indexOf(this.$modelValue.title.substr(this.$modelValue.title.lastIndexOf('.') + 1)) >= 0"></div>

      <a class="btn btn-delete" nodrag ng-show="!item.document && admin" ng-click="removeItem(this); $event.stopPropagation()"  analytics-on="click" analytics-event="delete" analytics-category="chapter" analytics-label="<%#= request.url.split('.').first %>" ><span class="fa fa-times"></span></a>
			<a class="btn btn-delete" nodrag ng-show="item.document && admin" ng-click="removeItem(this); $event.stopPropagation()" analytics-on="click" analytics-event="delete" analytics-category="document" analytics-label="<%#= request.url.split('.').first %>"><span class="fa fa-times"></span></a>

      <a class="btn btn-rename" ng-controller="CrudCtrl" nodrag ng-show="!item.document && admin" ng-click="renameItems(this); $event.stopPropagation()" analytics-on="click" analytics-event="rename" analytics-category="chapter" analytics-label="<%#= request.url.split('.').first %>"><span class="fa fa-pencil"></span></a>
			<a class="btn btn-rename" ng-controller="CrudCtrl" nodrag ng-show="item.document && admin" ng-click="renameItems(this); $event.stopPropagation()" analytics-on="click" analytics-event="rename" analytics-category="document" analytics-label="<%#= request.url.split('.').first %>"><span class="fa fa-pencil"></span></a>

      <a ng-href={{item.preview_link}} download class="btn btn-download" ng-show="item.document && item.type != 'application/pdf'" nodrag analytics-on="click" analytics-event="download" ng-click="downloadItem(this); $event.stopPropagation()" analytics-category="document" analytics-label="<%#= request.url.split('.').first %>"><span class="fa fa-arrow-circle-o-down"></span></a>

      <a ng-href={{item.preview_link}} class="btn btn-preview" target="_blank" ng-show="item.document && item.type == 'application/pdf'" nodrag analytics-on="click" ng-click="downloadItem(this); $event.stopPropagation()" analytics-event="preview" analytics-category="document" analytics-label="<%#= request.url.split('.').first %>" ><span class="fa fa-eye"></span></a>

    </div>

    <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed, containerSelected : this.$modelValue.activeItem}" ng-init="initCounter()">
      <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'"  ng-init="initI()"></li>
    </ol>
  </script>

  <script type="text/ng-template" id="specific_renderer.html">
    <div ui-tree-handle ng-click="selectDrop(this)" ng-if="!item.document">

      <div ng-init="printChapter(this)" class="chapter-number" >{{item.chapter}}</div>

      <div class="item-name">{{item.title}}</div>

    </div>

    <ol ui-tree-nodes="options" ng-model="item.items" ng-init="initCounter()">
      <li ng-repeat="item in item.items" ui-tree-node ng-include="'specific_renderer.html'"  ng-init="initI()" ng-if="!item.document"></li>
    </ol>
  </script>

  <div id="document-tree" ng-class="{'no-docs' : documentAbsent}" >

    <div id="button-row" ng-show="admin" ng-click="$event.stopPropagation()" ng-class="{'button-hidden' : !nodeEnd}">
      <button class="submit-button dual-submit"  ng-multiple="true" ng-file-select ng-model="firstFiles" analytics-on="click" analytics-event="upload" analytics-category="document" analytics-label="<%#= request.url.split('.').first %>" ><!-- <i class="fa fa-file"></i> -->{{ 'UPLOAD' | translate }} </button>

      <button ng-controller="CrudCtrl" class="submit-button dual-submit"  ng-click="newSubItem()" analytics-on="click" analytics-event="create" analytics-category="chapter" analytics-label="<%#= request.url.split('.').first %>" analytics-on="click" analytics-event="create" analytics-category="chapter" analytics-label="<%#= request.url.split('.').first %>" ><!-- <i class="fa fa-plus"></i> -->{{ 'CHAPTER' | translate }}</button>
    </div>

    <!-- <div id="document-absent-title" ng-show="documentAbsent && admin">{{ 'NEW_SUBJECT' | translate }}</div> -->

    <!-- <div id="document-absent-subtitle"  ng-show="documentAbsent && admin">{{ 'LEFT_TREE_EXPLANATION' | translate }}</div> -->

    <div id="ui-tree-container" ng-if="!documentAbsent && nodeEnd">
      <div ui-tree="options" data-drag-enabled="false"  id="tree-root">
        <ol ui-tree-nodes ng-model="listItems" >
          <li ng-repeat="item in listItems" ui-tree-node ng-include="'items_renderer.html'"></li>
        </ol>
      </div>
    </div>

    <div id="select-leaf" class="full-size-circle-container" ng-if="!nodeEnd || documentAbsent && !admin">

      <div class="full-size-circle">!</div>

      <div id="select-leaf-text" ng-show="documentAbsent && nodeEnd">{{ 'NEW_SUBJECT' | translate }}</div>
      <div id="select-leaf-text" ng-hide="nodeEnd">{{ 'NO_DOC' | translate }}</div>

    </div>



    <div id="dropzone-circle" class="full-size-circle-container" ng-show="nodeEnd && documentAbsent && admin && !home">
      <div class="full-size-circle" >
        <div id="dropzone-text">DROP ZONE</div>
      </div>
      <!-- <div class="tip">
        <i class="fa fa-lightbulb-o"></i>
        <div ng-show="isChrome" class="tip-text">{{ 'DROP_EXPLANATION' | translate }}</div>
        <div ng-hide="isChrome">{{ 'DROP_COMMENT' | translate }}</div>
      </div> -->
    </div>

    <div class="tip" ng-hide="home || !admin || !nodeEnd">
      <i class="fa fa-lightbulb-o"></i>
      <span id="tip-chrome" ng-show="isChrome">{{ 'TIP' | translate }}</span>
      <span id="tip-chrome" ng-hide="isChrome">{{ 'TIP_CHROME' | translate }}</span>
    </div>


  </div>
</div>

<div id="view-document-rename-popup" ng-controller="CrudCtrl">
  <div class="popup-header">Rename node<span class="fa fa-times" ng-click="closeViewDocumentRename()"></span></div>
    <form class="formPopup" novalidate>

       <input type="email" placeholder=previousNameNode class="admin-co-input" ng-model="updateNameItem">

      <button class="button-green-black" ng-click="saveViewDocumentRename()">Rename</button>

    </form>
  <div class="account-gestion-bg"></div>
</div>

<div id="fileDroppedBackground"></div>
<div id="fileDropped">
  <div class="popup-header">{{ 'DROP_FILE' | translate }}</div>
  <div class="popup-body">
    <div id="file-dropped-position">{{ 'WHERE_DROP' | translate }}</div>
    <div id="root-object" ng-click="rootSelected()">{{ 'ROOT' | translate }}</div>
    <div id="small-ui-tree" ui-tree="options" data-drag-enabled="false">
      <ol ui-tree-nodes ng-model="listItems" >
        <li ng-repeat="item in listItems" ui-tree-node ng-include="'specific_renderer.html'"></li>
      </ol>
    </div>
    <button class="submit-button default-submit" ng-click="cancelDrop()">{{ 'CANCEL' | translate }}</button>
  </div>
</div>

