<div id="right-tree">

  <script type="text/ng-template" id="items_renderer.html">
    <div right-click>
      <div ui-tree-handle ng-class="{isdocument: item.document, itemSelected : item.selectedItem}" ng-click="$event.stopPropagation(); toggleChapter(this)">

        <a class="btn-collapse" data-nodrag ng-if="!item.document" ng-init="collapseItems(this)"><span class="fa fa-angle-right" ng-class="{'expanded': !collapsed, 'angle-right-hidden' : this.$modelValue.items.length == 0}"></span></a>

        <div class="empty-space" data-nodrag ng-if="item.document"></div>

        <div class="chapter-number" ng-if="!item.document" ng-class="{depth1 : item.depth == 1, depth2 : item.depth == 2, depth3 : item.depth == 3, depth4 : item.depth == 4}">{{item.chapter}} </div>

        <div class="fa file-icon"  ng-show="item.document && ['docx', 'doc', 'pdf', 'avi', 'png', 'jpg'].indexOf(item.extension) > -1" ng-class="{'fa-file-pdf-o' : item.extension == 'pdf', 'fa-file-picture-o' : ['png', 'jpg'].indexOf(item.extension) > -1, 'fa-file-word-o' : ['docx', 'doc'].indexOf(item.extension) > -1, 'fa-file-video-o' : item.extension == 'avi'}"></div>

        <div class="fa file-icon fa-file-o"  ng-hide="!item.document || ['docx', 'doc', 'pdf', 'avi', 'png', 'jpg'].indexOf(item.extension) > -1" ></div>

        <div class="item-name"><span>{{item.title}}</span></div>

        <div class="btn btn-options" ng-controller="itemActionsButtonCtrl" data-nodrag ng-click="$event.stopPropagation()">
          <div dropdown-menu="dropdownOptions" dropdown-model="dropdownSelected" dropdown-onchange="actionItem(this)" >
            <span class="fa fa-ellipsis-v" ng-click="selectItem(this)"></span>
          </div>
        </div>

      </div>
    </div>

    <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed, containerSelected : this.$modelValue.activeItem}" ng-init="initCounter()">
      <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'"  ng-init="initI()"></li>
    </ol>
  </script>

  

  <div id="breadcrumb" ng-controller="breadcrumbCtrl">
    <div id="breadcrumb-container">
      <div id="breadcrumb-title">
        <span ng-repeat="node in $root.breadcrumb track by $index" ng-class="'breadcrumb-node'">{{node}} <span ng-class="'breadcrumb-separator'" ng-show="$index != $root.breadcrumb.length - 1"><i class="fa fa-angle-right" ></i></span></span>
      </div>
    </div>

    <div id="protection-node-container" ng-show="$root.nodeEnd && $root.listItems.length != 0">
      <button ng-show="$root.nodeProtected" type="button" class="fa fa-lock round-button protection-file-on" ng-click="toggleProtection()" title="{{ 'NODE_LOCKED' | translate}}" ></button>

      <button ng-show="!$root.nodeProtected" type="button" class="fa fa-unlock-alt round-button protection-file-off" ng-click="toggleProtection()" title="{{ 'NODE_UNLOCKED' | translate}}"></button>

      <div id="tutorial-padlock" ng-hide="!$root.help || $root.tutorialPadlockSeen" ng-click="$root.tutorialPadlockOpen = true; $event.stopPropagation(); $root.setHelp()">
        <span class="tutorial-round" ng-hide="$root.tutorialPadlockOpen"></span>
        <span id="tutorial-text-box-padlock" class="tutorial-text-box" ng-show="$root.tutorialPadlockOpen">{{ 'TUTO_2' | translate }}</span>
      </div>

    </div>

    <div id="options-node" ng-show="$root.admin && $root.nodeEnd && $root.listItems.length != 0" >
      <div dropdown-menu="nodeDropdownOptions" dropdown-model="nodeDropdownSelected" dropdown-onchange="actionNodeOptions()">
        <button type="button" class="round-button fa fa-bars"></button>
      </div>
    </div>
  </div>

  <div class="right-container" id="dropcircle-container" ng-show="($root.nodeEnd && $root.listItems.length == 0 && $root.admin) || (!$root.nodeEnd || $root.listItems.length == 0 && !$root.admin)">
    <div id="dropcircle">

      <div ng-show="$root.listItems.length == 0 && $root.nodeEnd && !$root.admin">{{ 'NEW_SUBJECT' | translate }}</div>
      <div ng-show="!$root.nodeEnd && !$root.admin">{{ 'SELECT_LEAF' | translate }}</div>
      <div ng-show="$root.nodeEnd && $root.listItems.length == 0 && $root.admin" >DROP ZONE</div>


    </div>
  </div>

  <div class="right-container" ng-controller="itemHandlingCtrl">

    <div id="tutorial-action-buttons" ng-hide="!$root.help || $root.tutorialActionButtonSeen" ng-click="$root.tutorialActionButtonOpen = true; $event.stopPropagation(); $root.setHelp()">
      <span class="tutorial-round" ng-hide="$root.tutorialActionButtonOpen"></span>
      <span id="tutorial-text-box-action-button" class="tutorial-text-box" ng-show="$root.tutorialActionButtonOpen">{{ 'TUTO_4' | translate }}</span>
    </div>

    <div id="tutorial-right-tree" ng-hide="!$root.help || $root.tutorialRightTreeSeen" ng-click="$root.tutorialRightTreeOpen = true; $event.stopPropagation(); $root.setHelp()">
      <span class="tutorial-round" ng-hide="$root.tutorialRightTreeOpen"></span>
      <span id="tutorial-text-box-right-tree" class="tutorial-text-box" ng-show="$root.tutorialRightTreeOpen">{{ 'TUTO_3' | translate }}</span>
    </div>

    <div id="ui-tree-container" ng-if="$root.listItems.length > 0 && $root.nodeEnd">
      <div ui-tree="treeOptions" id="tree-root">
        <ol ui-tree-nodes ng-model="$root.listItems" >
          <li ng-repeat="item in $root.listItems" ui-tree-node ng-include="'items_renderer.html'"></li>
        </ol>
      </div>
    </div>
  </div>


  <div id="button-row" ng-class="{'button-hidden' : !$root.nodeEnd || !$root.admin}" ng-click="$event.stopPropagation()">

    <button type="file" class="dual-submit" ngf-multiple="true" name="firstFiles" ngf-select ng-model="firstFiles" > {{ 'UPLOAD' | translate }} </button>

    <button ng-click="newChapter()" ng-controller="createChapterCtrl" class="dual-submit"  >{{ 'CHAPTER' | translate }}</button>
  </div>


  <div class="tip" >
    <i class="fa fa-lightbulb-o" ng-show="$root.admin && $root.nodeEnd"></i>
    <span id="tip-chrome" ng-show="$root.admin && $root.nodeEnd && !$root.isChrome " >{{ 'TIP' | translate }}</span>
    <span id="tip-chrome" ng-show="$root.admin && $root.nodeEnd && $root.isChrome">{{ 'TIP_CHROME' | translate }}</span>

    <!-- <div ng-show="$root.listItems.length == 0 && $root.nodeEnd && !$root.admin">{{ 'NEW_SUBJECT' | translate }}</div> -->
    <!-- <div ng-show="!$root.nodeEnd">{{ 'SELECT_LEAF' | translate }}</div> -->
  </div>
</div>
















