<div ng-file-drop ng-model="files"  drag-over-class="{accept:'dragoverAccept', reject:'dragoverReject', delay:100}"  ng-multiple="true" accept=".jpg,.png,.pdf" id="application-view" ng-controller="WebappCtrl" ng-click="looseFocusItem()">

  <left-tree id="view-tree" node-end = 'nodeEnd' active-nodes = 'activeNodes' admin = 'admin' help = 'help' chapter-folded = 'chapterFolded' active-chapter = 'activeChapter' breadcrumb = 'breadcrumb' nodes = 'nodes' folded-nodes= 'foldedNodes' cookie-gestion = 'cookieGestion' user-id = 'userId' reload-nodes ='reloadNodes' view-news = 'viewNews' superadmin = 'superadmin'></left-tree>

  <right-tree node-end='nodeEnd' files = 'files' admin = 'admin' sandbox = 'sandbox' home='home' chapter-folded = 'chapterFolded' breadcrumb = 'breadcrumb' reload-nodes ='reloadNodes' user-id = 'userId' superadmin = 'superadmin' loose-focus-item = 'looseFocusItem' active-chapter ='activeChapter'></right-tree>

  <dragndrop-view ng-if="nodeEnd"></dragndrop-view>
</div>
