<form ngf-drop="" name = "uploadForm"  ngf-drop-disabled="!nodeEnd || !admin" ngf-drag-over-class="{accept:'dragover', delay:100}" ngf-multiple = "true" ng-model = "files" id="application-view" ngf-max-size="20MB" ng-click="$root.looseFocusItem()">

  <div id="tutorial-left-tree" ng-if="$root.help" ng-hide="$root.tutorialLeftTreeSeen" ng-click="$root.tutorialLeftTreeOpen = true; $event.stopPropagation(); $root.setHelp()">
    <span id="tutorial-text-box-left-tree" class="tutorial-text-box" ng-show="$root.tutorialLeftTreeOpen">{{ 'TUTO_5' | translate }}</span>
    <span class="tutorial-round" ng-hide="$root.tutorialLeftTreeOpen"></span>
  </div>

  <left-tree id="view-tree" active-nodes = 'activeNodes' admin = 'admin' help = 'help' active-chapter = 'activeChapter' folded-nodes= 'foldedNodes' user-id = 'userId' view-news = 'viewNews' superadmin = 'superadmin' change-breadcrumb = 'changeBreadcrumb'></left-tree>

  <right-tree files = 'files' admin = 'admin' user-id = 'userId' superadmin = 'superadmin' loose-focus-item = 'looseFocusItem' active-chapter ='activeChapter' is-chrome = 'isChrome'></right-tree>

  <dragndrop-view ng-init="setForm(uploadForm)" ng-if="nodeEnd" files = 'files' is-chrome = 'isChrome' user-id = 'userId'></dragndrop-view>
</form>
