#slide1{
  height: 100vh;
}

.welcome-wrapper{
  position: relative;
  float: left;
  height: 70vh;
  margin-bottom: 40px;

  width: 100%;

  background-image: url(image-path('11.jpg'));
  background-size: cover;

  color: white;
}

#welcome-title{
  width: 100%;
  margin-top: 80px;
  display: inline-block;
  position: relative;
  font-size: 6em;
  font-family: "um Web", sans-serif;
  font-weight: 600; 
  text-align: center;
}

#welcome-subtitle{
  width: 100%;
  display: inline-block;
  position: relative;

  font-size: 2.3em;
  margin-top: 20px;
  font-family: "um Web", sans-serif;
  font-weight: 500; 
  text-align: center;
}

// Text underneath

.purpose{
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 2em;
  padding-bottom: 20px;
  margin-bottom: 5px;
  line-height: 35px;
}


/*================================
=            Triangle            =
================================*/

#rectangle-left{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: calc(50% - 50px);
  background: white;
  // border-top: 1px solid #393939;
}

#triangle-left{
  position: absolute;
  left: calc(50% - 50px);
  bottom: 0;
  width: 0; 
  height: 0; 
  border-right: 50px solid transparent;
  border-bottom: 50px solid white;
  // &:before{
  //   position: absolute;
  //   top: 0;
  //   left: 0px;
  //   border-right: 50px solid transparent;
  //   border-bottom: 50px solid #393939;
  //   content: "";
  // }
  //  &:after{
  //   position: absolute;
  //   top: 0;
  //   left: -1px;
  //   border-right: 50px solid transparent;
  //   border-bottom: 50px solid white;
  //   content: "";
  // }
}

#triangle-right{
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-bottom: 50px solid white;
  // &:before{
  //   position: absolute;
  //   top: 0;
  //   left: -50px;
  //   border-left: 50px solid transparent;
  //   border-bottom: 50px solid #393939;
  //   content: "";
  // }
  //  &:after{
  //   position: absolute;
  //   top: 0;
  //   left: -49px;
  //   border-left: 50px solid transparent;
  //   border-bottom: 50px solid white;
  //   content: "";
  // }
}

#rectangle-right{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: calc(50% - 50px);
  background: white;
  // border-top: 1px solid #393939;
}










