#slide2{
  // margin-top: 80px;
}

/*===================================
=            Slide Title            =
===================================*/

.slide-title{
  display: inline-block;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  line-height: 60px;
  box-shadow: 1px 2px 4px 0px black;
  margin-bottom: 4px;
  background: $nice-noir;
  color: white;
}

/*===========================
=            Map            =
===========================*/

map{
  height: 70vh;
}

#uni-input{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#uni-input-black-bg{
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
}

#location-wrapper{
  display: table;
  margin: 0 auto;
}

#uni-input-form{
  position: relative;
  float: left;
  padding: 10px 0px;
}

#location{
  margin: 10px 20px;
  position: relative;
  float: left;
  background: white;
  width: 43px;
  padding: 13px 0px;
  color: black;
  text-align: center;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );
  &:hover{
    box-shadow: 0px 0 1px 2px #2980b9;
  }
}

/*=============================
=            Input            =
=============================*/

// .home-input{
//   position: relative;
//   background: $input-bg;
//   border-radius: 3px;
//   border: none;
//   box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );

//   font-size: 15px;
//   font-weight: bold;

//   padding: 13px 10px;
//   color: black;
// }

.home-input{
  position: relative;
  background: $input-bg;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );

  font-size: 15px;
  font-weight: bold;

  padding: 13px 10px;
  color: black;
  

}

.input-action-design{
  &.ng-untouched{
    background: $account-input-bg ;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  }
  &.ng-touched.ng-valid{
    box-shadow: 0px 0 1px 2px green;
  }
  &.ng-touched.ng-invalid{
    box-shadow: 0px 0 1px 2px red;
  }
  &:focus {
  background: white;
  box-shadow: 0px 0 1px 2px #2980b9 !important;
  
  outline: none;
  }
}

.search-input {
  float: left;
  width: 400px;
}

.signup-input{
  display: table;
  margin: 0 auto;

  width: 300px;

  clear: left;
  margin-bottom: 20px;
}


/*===============================
=            Buttons            =
===============================*/

.home-button{
  background: linear-gradient(to bottom, $light-blue, $blue);

  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px #666666;

  font-family: Arial;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;


  &:hover {
    background: linear-gradient(to bottom, $hyper-light-blue, $super-light-blue);
    text-decoration: none;
  }
}

#confirm-school{
  margin-left: 20px;

  padding: 5px 10px 5px 10px;

  font-size: 1em;
}

#add-school{
  display: table;
  margin: 0 auto;

  padding: 10px 20px 10px 20px;

  font-size: 20px;
}

#signup{
  position: relative;
  clear: left;
  display: table;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  font-size: 1.1em;
}

/*====================================
=            School popup            =
====================================*/

.school-popup-wrapper{
  position: absolute;
  right: 40px;
}
// Existing school

#existing-school-display-wrapper{
  top: calc(50% - 95px);
}

#new-school-display-wrapper{
  top: calc(50% - 95px);
}

#new-school-display-wrapper{
  top: calc(50% - 180px);
}

#subdomain-created-wrapper{
  top: calc(50% - 95px);
}

.school-header{
  position: relative;
  line-height: 40px;
  padding: 0px 20px;
  background: black;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  font-size: 1.2em;

  .fa-times{
    position: relative;
    float: right;
    padding-left: 80px;
    line-height: 40px;
    cursor: pointer;
    font-size: .8em;
    color: $gris;
    &:hover{
      color: white;
    }
  }
}

.school-display-bg{
  position: absolute;
  background: black;
  top: 40px;
  left: 0;

  height: calc(100% - 40px);
  width: 100%;
  opacity: 0.7;
  z-index: 1;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.school-display{
  position: relative;
  padding: 40px 20px;
  color: white;
  z-index: 10;
}

.school-display-row-center{
  padding: 0px 10px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.school-display-row{
  padding-left: 10px;
  display: block;
  margin-bottom: 10px;
  font-size: 1.1em;
}


@keyframes school-flyout {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-350px);
  }
}

@keyframes school-flyin {
  0% {
    opacity: 0;
    transform: translateX(700px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.school-ready-to-disappear{
  animation: school-flyout .5s;
}

.school-ready-to-appear{
  animation: school-flyin 1s;
} 