#slide2{
  margin-top: 80px;
  // margin-bottom: 100px;
}

#uni-input{
  position: absolute;
  bottom: 0px;
  width: 100%;
  // width: calc(100% - 80px); 
  // margin: 0px 40px;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;


  // background: rgba( 0, 0, 0, .8 );
}

// #uni-input{
//   position: relative;
//   width: 100%;
//   background: white;
// }

#uni-input-black-bg{
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
}

#uni-input-form{
  display: table;
  margin: 0 auto;
  padding: 10px 0px;
}

.search-input {
  position: relative;
  float: left;

  width: 400px;

  padding: 13px 10px;
  // margin-bottom: 20px;
  margin-right: 40px;

  background: $input-bg;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );

  font-size: 15px;
  font-weight: bold;

  color: black;
  
  &:focus {
    background: white;
    box-shadow: 0px 0 1px 2px #2980b9;
    
    outline: none;
  }
}

#confirm-school{
  margin-left: 20px;

  padding: 5px 10px 5px 10px;

  background: linear-gradient(to bottom, $light-blue, $blue);

  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px #666666;

  font-family: Arial;
  color: #ffffff;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;


  &:hover {
    background: linear-gradient(to bottom, $hyper-light-blue, $super-light-blue);
    text-decoration: none;
  }
}

#add-school{
  // margin-left: 40px;
  display: table;
  margin: 0 auto;

  padding: 10px 20px 10px 20px;

  background: linear-gradient(to bottom, $light-blue, $blue);

  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px #666666;

  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;


  &:hover {
    background: linear-gradient(to bottom, $hyper-light-blue, $super-light-blue);
    text-decoration: none;
  }
}


#domain-name{

}
// #arrow-down-map{
//   position: absolute;
//   left: calc(50% - 20px);
//   top: 0px;
//   width: 0; 
//   height: 0; 
//   border-left: 40px solid transparent;
//   border-right: 40px solid transparent;
  
//   border-top: 40px solid white;
//   z-index: 200;
// }

map{
  // background: black;
  // opacity: 0.9;
  height: 70vh;
  // padding: 0px 10px 10px 10px;
  // margin: 0px 40px;
  // border-bottom-right-radius: 20px;
  // border-bottom-left-radius: 20px;

  // padding-bottom: 40px;
}

.slide-title{
  display: inline-block;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  line-height: 60px;
  // background: $gris;
  // border-top: 1px solid black;
  box-shadow: 1px 2px 4px 0px black;
  margin-bottom: 4px;
  background: $nice-noir;
  color: white;
}


/*====================================
=            School popup            =
====================================*/


// Existing school

#existing-school-display-wrapper{
  position: absolute;
  right: 40px;
  top: calc(50% - 95px);
}

#new-school-display-wrapper{
  position: absolute;
  right: 40px;
  top: calc(50% - 95px);
}

.school-header{
  position: relative;
  line-height: 40px;
  padding: 0px 20px;
  background: black;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  font-size: 1.2em
}
.school-display-bg{
  position: absolute;
  background: black;
  top: 40px;
  left: 0;

  height: calc(100% - 40px);
  width: 100%;
  opacity: 0.7;
  z-index: 1;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.school-display{
  position: relative;
  padding: 40px 20px;
  color: white;
  z-index: 10;
}

.school-display-row-center{
  padding: 0px 10px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.school-display-row{
  padding-left: 10px;
  display: block;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.fa-check{
  color: $gris;
  cursor: pointer;
  &:hover{
    color: green;
  }
}
.check-left{
  padding-right: 10px;
}
.check-right{
  margin-left: 10px;
}

#choosen-url{
  margin-bottom: 40px;
}
#choose-other-url{
  margin-bottom: 20px;
}
.school-link{
  cursor: pointer;
  color: white;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

@keyframes school-flyout {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-300px);
  }
}

@keyframes school-flyin {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.school-ready-to-disappear{
  animation: school-flyout 1s;
}

.school-ready-to-appear{
  animation: school-flyin 1s;
}