<div ng-show="$root.contentLoaded" ui-view itemscope itemtype="http://schema.org/Product" id="app-container" ng-class="{'zoom-in' : !home}"></div>

<div ng-show="!$root.contentLoaded" id="loading-screen" style="width: 100%;height: 100%;">
  <div id="loading-screen-inside" style="position: absolute;top: 48%;left:49%">
    <div class='spinner-loader'></div>
  </div>
</div>


