<div id="admin-co" ng-class="{'admin-co-open' : open}">
  <div id="admin-co-header" ng-click="toggleAdmin()">
    <span id="admin-co-title">{{ 'ADMIN_LOGIN' | translate }}</span>
    <i id="admin-co-image" class="fa fa-caret-up"></i>
  </div>
  <div id="admin-co-body" ng-class="{ hidden : !open}">
    <input type="email" id="admin-co-email" placeholder="type your email" class="admin-co-input" ng-model="emailInput" autofocus>

    <input type="password" placeholder="type your password" class="admin-co-input" ng-model="passwordInput"> 

    <button id="admin-co-button" ng-click="validateAdmin()">{{ 'VALIDATE' | translate }}</button>


    <div id="admin-co-secondary-options">
      <div id="admin-co-password-forgotten" ng-click="passwordForgotten()">Password forgotten</div>
      <div id="admin-co-sign-up">Sign up</div>
    </div>
  </div>
</div>