<div ng-file-drop ng-model="files" drag-over-class="{accept:'dragoverAccept', reject:'dragoverReject', delay:100}"  ng-multiple="true" allow-dir="true" accept=".jpg,.png,.pdf" id="application-view">

  <div id="view-tree" >
    <collapsible-tree  node-end = 'nodeEnd' flat-data = 'nodes' display-error ='displayError' active-nodes = 'activeNodes' admin = 'admin'></collapsible-tree>
  </div>

  <ui-tree-perso active-nodes='activeNodes' node-end='nodeEnd' files = 'files' display-error = 'displayError' ng-show="nodeEnd" admin = 'admin'></ui-tree-perso>

  <dragndrop-view ng-show="nodeEnd"></dragndrop-view>
</div>

<admin-co admin = 'admin' display-error = 'displayError' hide-error = 'hideError'></admin-co>


