<div id="assignment">
  <div class="assignementPanel assignmentPanelSelected">
    <div id="assignmentHeader">
      <span>{{ 'ASSIGNMENT' | translate }}</span>
      <span id="assignmentDueDate">Sep 15</span>
      <span id="assignmentOption" class="fa fa-ellipsis-v"></span>
    </div>
    <div id="assignmentBody">
      <div id="assignmentInfos">
        <span id="assignmentTitle">What I did this summer</span>
        <span id="assignmentSubject">Tell me, in 1 paragraph what you did this summer.</span>
      </div>
      <div id="assignmentStatsContainer">
        <div id="assignmentStats">
          <span id="assignmentTurnedIn">0</span>
          <span id="assignmentTotalStudent">30</span>
        </div>
        <span id="assignmentTurnedInText">{{ 'TURNED_IN' | translate }}</span>
      </div>
    </div>
  </div>


  <div class="assignementPanel">
    <div id="assignmentHeader">
      <span>{{ 'ASSIGNMENT' | translate }}</span>
      <span id="assignmentDueDate">Sep 15</span>
      <span id="assignmentOption" class="fa fa-ellipsis-v"></span>
    </div>
    <div id="assignmentBody">
      <div id="assignmentInfos">
        <span id="assignmentTitle">What I did this summer</span>
        <span id="assignmentSubject">Tell me, in 1 paragraph what you did this summer.</span>
      </div>
      <div id="assignmentStatsContainer">
        <div id="assignmentStats">
          <span id="assignmentTurnedIn">0</span>
          <span id="assignmentTotalStudent">30</span>
        </div>
        <span id="assignmentTurnedInText">{{ 'TURNED_IN' | translate }}</span>
      </div>
    </div>
  </div>


  <div class="assignementPanel">
    <div id="assignmentHeader">
      <span>{{ 'ASSIGNMENT' | translate }}</span>
      <span id="assignmentDueDate">Sep 15</span>
      <span id="assignmentOption" class="fa fa-ellipsis-v"></span>
    </div>
    <div id="assignmentBody">
      <div id="assignmentInfos">
        <span id="assignmentTitle">What I did this summer</span>
        <span id="assignmentSubject">Tell me, in 1 paragraph what you did this summer.</span>
      </div>
      <div id="assignmentStatsContainer">
        <div id="assignmentStats">
          <span id="assignmentTurnedIn">0</span>
          <span id="assignmentTotalStudent">30</span>
        </div>
        <span id="assignmentTurnedInText">{{ 'TURNED_IN' | translate }}</span>
      </div>
    </div>
  </div>

</div>


