<script type="text/ng-template" id="chapter-view.html">
  <div ui-tree-handle ng-class="{'isChapter' : !item.document, 'isdocument' : item.document}">
    <div class="chapter-number" ng-if="!item.document" ng-class="{depth1 : item.depth == 1, depth2 : item.depth == 2, depth3 : item.depth == 3, depth4 : item.depth == 4}">{{item.chapter}} </div>

    <div class="fa file-icon"  ng-show="item.document && ['docx', 'doc', 'pdf', 'avi', 'png', 'jpg'].indexOf(item.extension) > -1" ng-class="{'fa-file-pdf-o' : item.extension == 'pdf', 'fa-file-picture-o' : ['png', 'jpg'].indexOf(item.extension) > -1, 'fa-file-word-o' : ['docx', 'doc'].indexOf(item.extension) > -1, 'fa-file-video-o' : item.extension == 'avi'}"></div>

    <div class="fa file-icon fa-file-o"  ng-hide="!item.document || ['docx', 'doc', 'pdf', 'avi', 'png', 'jpg'].indexOf(item.extension) > -1" ></div>

    <div class="item-name" ng-show="!item.document"><span>{{item.title}}</span></div>
    <div class="item-name" ng-show="item.document" ng-click="downloadItem(this)"><span>{{item.title}}</span></div>

  </div>

  <ol ui-tree-nodes="options" ng-model="item.items" ng-init="initCounter()">
    <li ng-repeat="item in item.items" ui-tree-node ng-include="'chapter-view.html'"></li>
  </ol>
</script>



<div id="view-chapter">
  <div id="chapter-restrain-tree-container">
    <div id="view-chapter-title">
      <span>{{rootchapter}}</span>
      <i ng-show="locked"class="fa fa-lock"></i>
      <i ng-show="!locked" class="fa fa-unlock-alt"></i>
    </div>

    <div id="view-chapter-tree" ui-tree="options" data-drag-enabled="false">
      <ol ui-tree-nodes ng-model="listItems" >
        <li ng-repeat="item in listItems" ui-tree-node ng-include="'chapter-view.html'"></li>
      </ol>
    </div>
  </div>
</div>
