<div id='restrain-documents-wrapper'>
  <div id='restrain-documents-content'>
    <i class="fa fa-cloud-download"></i><div id="doc-view-name" ng-click="downloadDoc(this)"><span>{{docViewName}}</span></div>
  </div>
</div>
