<div id="view-chapter-navbar">
  <div id="view-chapter-brand" ng-click="home()">
    <span id="view-chapter-brand-name" >Unisphere</span>
  </div>

  <div id="view-chapter-school">
    <span id="view-chapter-school-name">{{ university }}</span>
  </div>
</div>

<div class="restrainview-ui-view" ui-view></div>
