<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Unisphere <%= @email %></h1>
    <p>
      You have successfully created a new organization: <%= @organization %>.
    </p>
    <p>
			Your administrator password is <%= @password %> .
		</p>
    <p>
			Thanks for joining and enjoy!
		</p>
		<p>
			Clément co-founder at Unisphere
		</p>
  </body>
</html>