@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/* line 1, /Users/clement/angular/app/assets/stylesheets/mobile/mobile.scss */
html, body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 13, /Users/clement/angular/app/assets/stylesheets/mobile/mobile.scss */
.hidden {
  display: none;
}

/* line 17, /Users/clement/angular/app/assets/stylesheets/mobile/mobile.scss */
body {
  cursor: default;
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif, "Lato";
}

/* line 24, /Users/clement/angular/app/assets/stylesheets/mobile/mobile.scss */
#mobile-welcome {
  position: relative;
  width: 100%;
  text-align: center;
  line-height: 40px;
  margin-top: 250px;
}
