/*=============================================================
=            No documents - select left | dropzone            =
=============================================================*/

.full-size-circle-container{
  position: relative;
  display: flex;
  align-items: center;
  height: calc(100% - 50px);
}

.full-size-circle{
  margin-left: calc(50% - 150px);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E5E5E5;

  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 4px 2px;
  text-align: center;
  color: white;

  // &:ng-enter{
  //   transition: 0.5 linear all;
  //   opacity: 1;
  // }

  // &:ng-leave{
  //   transition: 0.5 linear all;
  //   opacity: 0;
  // }
}

/*----------  select leaf  ----------*/

#explamation-point{
  font-size: 12em;
  @media (max-width: 1500px) {
    font-size: 11em;
  }
  @media (max-width: 1200px) {
    font-size: 10em;
  }
}

/*----------  dropzone  ----------*/

#dropzone-text{
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px;
}
