/*==================================
=            Breadcrumb            =
==================================*/

#breadcrumb{
  position: relative;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  color: rgb(74, 74, 88);
  font-family: 'Open Sans', sans-serif;
}

/*----------  Title  ----------*/

#breadcrumb-container{
  display: inline-block;
}

#breadcrumb-title{
  position: relative;
  display: inline-block;
}

.breadcrumb-separator{
  display: inline-block;
  padding: 0px 8px;
}

/*----------  Protection file  ----------*/

#protection-node-container{
  vertical-align: top;
  position: relative;
  display: inline-block;
//  background: #FCFCFC;
  // .round-button{
  //   margin-top: 4px;
  //   font-size: 1em;
  // }
}

.round-button{
  vertical-align: top;
  background: white;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
  width: 26px;
  height: 26px;
  border-radius: 15px;
  font-size: .9em;
  border: none;
  color: rgb(69,82,94);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 1px;

  &:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 2px;
  }
}

.protection-file-disabled{
  &, &:hover{
    box-shadow: none;
  }

  margin-top: 3px;
  cursor: auto;
}

.node-change-password{
  cursor: pointer;
  font-size: .7em;
  color: grey;

  &:hover{
    text-decoration: underline;
  }
}

.protection-file-on{
  color: rgb(255,96,89);
}

.protection-file-off{
  color: #29CF5D;
}

/*----------  node options  ----------*/

#options-node{
  // vertical-align: top;
  position: relative;
  display: inline-block;
  color: rgb(69,82,94);
}

#breadcrumb{
  .dropdown{
    right: 0px;
    top: 42px;
  }

  .dropdown:before{
    right: 7px;
  }

  .dropdown:after{
    right: 9px;
  }
}
