/*===============================
=            Buttons            =
===============================*/

#button-row{
  position: relative;
  height: 100px;
  width: 100%;
  line-height: 100px;
  display: table;
  margin: 0px auto;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-hidden{
  visibility: hidden;
}

.dual-submit{
  border: 1px solid $blue;
  color: #EEEEEE;
  cursor: pointer;
  background: $blue;
  border-radius: 1px;
  margin: 0px 30px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 1500px) {
    margin: 0px 18px;
  }

  @media (max-width: 1200px) {
    margin: 0px 10px;
    padding: 10px 10px;
    font-size: 1em;
  }

  .fa{
    margin-right: 5px;
  }

   &:hover{
    border-color: #66A4FA;
    background: #66A4FA;
  }

  &:active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background: linear-gradient(#4991F5, #66A4FA);
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 1px 2px 1px;
  }
}

.default-submit{
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  border: 1px solid #d4d4d4;
  color: #EEEEEE;
  cursor: pointer;
  background: #0087E0;
  border-radius: 0.2em;
  padding: 10px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: table;

  &:hover{
    border-color: #008EEC;
    border-bottom-color: #0084DC;
    background: #008DEB;
  }

  &:active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: linear-gradient(#3072b3, #599bdc);
  }
}

/* overrides extra padding on button elements in Firefox */
.submit-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
