<div id="nav-chart-1"></div>
<div id="chart-1"></div>
<div id="chart-2"></div>


<div class="chart-control">
  <div class="split-by-controls chart-button-wrapper">
  	<div class="active button-group button-group-first" data-y_accessor="release">Views</div>
    <div class="active button-group button-group-middle" data-y_accessor="release">Views</div>
  	<div class="button-group button-group-last" data-y_accessor="beta">Downloads</div>
  </div>
</div>

<div class="chart-control">
  <div class="split-by-controls chart-button-wrapper">
    <div class="active button-group button-group-first" data-y_accessor="release">Views</div>
    <div class="active button-group button-group-middle" data-y_accessor="release">Views</div>
    <div class="button-group button-group-last" data-y_accessor="beta">Downloads</div>
  </div>

</div>