#account{
  padding: 40px;
}

/*========================================
=            Panel definition            =
========================================*/

// .panel{
//   display: table;
//   margin: 0px auto 40px auto;
// }

.panel-header{
  position: relative;
  width: calc(100% - 22px);
  float: left;
  padding: 10px;

  background: $light-gris;
  color: $account-title-color;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid $account-border;
}

.panel-body{
  position: relative;
  float: left;
  width: calc(100% - 22px);
  padding: 10px;
  padding-bottom: 20px;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid $account-border;
  border-top: none;
}

.panel-row-title{
  margin-top: 10px;
  margin-bottom: 3px;

  color: $account-subtitle-color;
}

.panel-input{
  display: block;
  width: 400px;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: .9em;
  border: 1px solid #ccc;
  outline: none;
}

.panel-submit{
  position: relative;
  clear: left;
  display: block;
  margin-top: 20px;
  padding: 5px 15px;

  font-size: 1em;

  border: 1px solid #d4d4d4;
  color: #EEEEEE;
  background: #0087E0;
  border-radius: 0.2em;

  font-family: Arial;

  text-decoration: none;

  &:hover{
    cursor: pointer;
    border-color: #008EEC;
    border-bottom-color: #0084DC;
    background: #008DEB;
  }

  &:active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: linear-gradient(#3072b3, #599bdc);
  }
}

.panel{
  input{
    &:focus{
      box-shadow: 0px 0px 0px 2px #A0D1FA,inset 0 0 0 0 #000 !important;
      background: white !important;
    }
  }
}

#panel-password, #panel-organization{
  input{
    &.ng-valid{
      box-shadow: 0px 0px 0px 2px #A0D1FA,inset 0 0 0 0 #000 !important;
      background: white !important;
    }
  }
}
// .input-float{
//   float: left;
//   margin-bottom: 20px;
// }

/*====================================
=            Organization            =
====================================*/
.panel{
  display: table;
  margin: 0px auto 40px auto;
  width: 800px;

  .fa-user{
    margin-right: 6px;
    margin-left: 6px;
  }

  .fa-user-plus{
    margin-right: 3px;
    margin-left: 6px;
  }
}

#listUser{
  margin-top: 10px;
}


#display-new-user{
  height: 25px;
  color: $dark-gris;
}
.element-user{
  line-height: 25px;
  color: $darky-gris;
  font-size: .9em;
}

/*==============================
=            Profil            =
==============================*/



/*================================
=            Password            =
================================*/

#password-strength{
  display: none;

  position: absolute;
  left: 500px;
  top: 42px;
  // left: 70%;

  line-height: 28px;
  height: 28px;
  font-size: .9em;
}

.fa-check{
  position: absolute;

  color: green;
}

.password-notif{
  display: none;
  top: 52px;
  left: 440px;
}

.password-check-notif-ok{
  display: none;
  top: 145px;
  left: 440px;
}


/*==========  Password Tip  ==========*/

.password-tip{
  position: relative;
  display: block;

  margin-top: 5px;
  margin-bottom: 10px;


  color: $dark-gris;
  font-size: 15px;

  .fa{
    margin-right: 4px;
  }
}

.strength-fixed-text{
  position: relative;
  float: left;

  margin-right: 10px;
  color: black;
}

.strength-text{
  position: relative;
  float: left;
}

.visual-indicator-container{
  position: relative;
  float: left;
  clear: left;
  height: 5px;
  width: 140px;
  background: grey;
}

.visual-indicator{
  position: relative;
  float: left;
  clear: left;
  transition: all 0.9s ease !important;
  height: 5px;
}

.short{
  color:red;
  .visual-indicator{
    width: 20px;
    background: red
  }
}
.weak{
  color:orange;
  .visual-indicator{
    width: 60px;
    background: orange;
  }
}
.good{
  color:blue;
  .visual-indicator{
    width: 100px;
    background: blue;
  }
}
.strong{
  color: limegreen;
  .visual-indicator{
    width: 140px;
    background: limegreen;
  }
}



