@keyframes flyout {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes flyin {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ready-to-disappear{
  animation: flyout .5s;
}

.ready-to-appear{
  animation: flyin .5s;
}

#success-prompt{
  display: none;
}


/*===================================
=            Error Popup            =
===================================*/

.prompt-wrapper{
  position: fixed;
  top: 60px;
  z-index: 90;
  width: 20%;
  height: 50px;
  left: 40%;
}

.singleError{
  text-align: center;
}

.prompt-title{
  
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#error-prompt-title{
  color: $error-prompt-title-color;
  background: $error-prompt-bg;
  border: 1px solid $border-error-prompt;
}

#success-prompt-title{
  color: $success-prompt-title-color;
  background: $success-prompt-bg;
  border: 1px solid $border-success-prompt;
}

#close-error-prompt{
  font-size: .8em;
  font-weight: bold;
  position: absolute;
  right: 10px;
  padding: 0px 10px;
  cursor: pointer;
  color: $error-prompt-color-very-light;
  line-height: 42px;

  &:hover{
    color: $error-prompt-title-color;
  }
}

#error-prompt-text{
  color: $error-prompt-color-light;
  padding: 10px;
  background: $error-prompt-bg;
  background: white;
  border: 1px solid $border-error-prompt;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  .fa{
    position: absolute;
    margin-top: 5px;
  }
  .error{
    display: inline-block;
    position: relative;
    margin-left: 10px;
  }
}

#success-prompt-text{
  color: $success-prompt-color-light;
  padding: 10px;
  background: $success-prompt-bg;
  background: white;
  border: 1px solid $border-success-prompt;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;


  .error{
    display: inline-block;
    position: relative;
  }
}


