#first-connection{
  display: none;
}

#first-co-wrapper{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 900;
}

.black-bg{
  position: absolute;
  background: black;
  opacity: 0.6;
}

// Left advise
#first-co-left-background-right{
  top: 60px;
  bottom: 40px;
  width: 81%;
  right: 0px;
}

#first-co-left-background-top{
  top: 0px;
  width: 100%;
  height: 60px;
}

#first-co-left-background-left{
  top: 60px;
  width: 50px;
  bottom: 40px;
  left: 0px;
}

#first-co-left-background-bottom{
  height: 40px;
  bottom: 0px;
  width: 100%;
}

// Right advise
#first-co-right-background-left{
  top: 60px;
  bottom: 200px;
  width: 68%;
  left: 0px;
}

#first-co-right-background-bottom{
  height: 200px;
  left: 0px;
  right: 30px;
  bottom: 0px;
}

#first-co-right-background-top{
  top: 0px;
  left: 0px;
  right: 30px;
  height: 60px;
}

#first-co-right-background-right{
  height: 100%;
  width: 30px;
  right: 0px;
}

// Sidebar Advise

#first-co-sidebar-background-bottom{
  height: 70%;
  bottom: 0px;
  width: 100%;
}

#first-co-sidebar-background-top{
  top: 0px;
  height: 5%;
  width: 100%;
}

#first-co-sidebar-background-right{
  width: calc(100% - 50px);
  left: 50px;
  height: 25%;
  top: 5%;
}

#first-co-advise{
  position: absolute;
  width: 680px;
  height: 510px;
  top: calc(50% - 230px);
  left: calc(50% - 340px);

  // background: #f6f9fc;
  background: white;
  z-index: 999;
  box-shadow: 1px 2px 2px 0px black;
  border-radius: 10px;

  .fa-caret-left, .fa-caret-right{
    position: absolute;
    top: 260px;
    font-size: 2.5em;
    color: #18A1FC;
    z-index: 999;
    cursor: pointer;
  }
  .fa-caret-right{
    right: 20px;
  }
  .fa-caret-left{
    left: 20px;
  }

}

.first-co-advise-title{
  display: table;
  margin: 0px auto;
  font-size: 1em;
  color: white;
  text-align: center;
}

.first-co-advise-body{
  padding: 20px 60px;
  // background: #FDFDFD;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.first-co-header{
  padding: 20px 0px;
  background: #18A1FC;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid black;
}

.advise-image {
  position: relative;
  width: 100%;
}

#advise-image-right{
  margin-top: 80px;
}



