@import "global";
@import "dashboard";
@import "view-tree";
@import "view-document";
@import "dragndrop";


#navbar{
  position: fixed;
	color: $navbar;
  top: 0px;
  left: 0px;

  z-index: 10;

  width: 100%;
  height: 50px;

  font-size: 1.2em;
  background: $navbar-bg;

  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.8);
}

#main-view-container{
  position: relative;

  height: calc(100% - 50px);
  width: 100%;

  margin-top: 50px;
}

#view-tree{
  position: relative;
  float: left;
  z-index: 5;

  height: 100%;
  width: calc(65% - 2px);

  background: $tree-bg;
  border-right: 2px solid grey;

  // box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.4);

}

#view-document{
  position: relative;
  float: left;
  background: $document-bg;

  height: calc(100%);
  width: calc(35%);
}






#admin-button{
  position: absolute;

  bottom: 0px;
  left: 20px;

  padding: 10px;

  z-index: 5;

  // height: 40px;
  // width: 200px;
  background: black;
  color: white;
  cursor: pointer;

  border-top-left-radius: .2em;
  border-top-right-radius: .2em;
}

#admin-button-text{
  margin-right: 50px;
}

#admin-button-image{
  position: absolute;
  right: 10px;
  top: 0px;
  height: 100%;
  font-size: 2em;
}