.ui-notification{
  position: fixed;
  z-index: 9999;
  width: 500px;
  // top: 300px;
  right: calc(50% - 250px) !important;
  transition: all ease 1s;
  color: #fff;
  background: #337ab7;
  box-shadow: 0px 5px 5px rgba(0,0,0,.3);
  font-family: Roboto, sans-serif;
}

.notification-close{
  position: absolute;
  right: 15px;
  top: 10px;
  line-height: 23px;
  cursor: pointer;
  color: #E9E9E9;
  &:hover{
    color: white;
  }
}

.ui-notification.killed{
  transition: opacity ease 1s;
  opacity: 0
}

.notification-message{
  font-size: 1em;
  font-weight: 700;
  display: block;
  text-align: center;
  padding: 10px 40px;
}

/*----------  Different types  ----------*/

.ui-notification.warning{
  color:#fff;background:#f0ad4e
}

.ui-notification.error{
  background:#d9534f
}

.ui-notification.success{
  background:#5cb85c
}

// .ui-notification.info{
//   color:#fff;
//   background:#5bc0de
// }


/*----------  New version  ----------*/

.notification-title{
  text-transform: uppercase;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 40px;
  // font-weight: 300;
}

.notification-wrapper{
  padding: 20px;

  .notification-close{
    top: 20px;
    right: 20px;
  }

  a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

.notication-subtitle{
  margin-bottom: 20px;
}

.notification-element{
  padding-left: 10px;
  position: relative;
  margin-top: 35px;
  margin-bottom: 8px;
  line-height: 20px;
  font-weight: bold;
  .fa{
    left: -5px;
    position: absolute;
    top: 5px;
    font-size: .5em;
  }
}

.notification-list-element{
  padding-left: 32px;
  margin-top: 10px;

  .fa{
    position: absolute;
    left: 25px;
    color: white;
  }

}

.notification-footer{
  display: block;
  color: white;
  margin-top: 40px;
  text-align: center;
  font-size: .8em;
}
