.sidebar{
  position: fixed;
  top: 40px;
  bottom: 0;
  width: 200px;
  z-index: 1;
  width: 70px;
}

.sidebar-container{
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
  margin: 50px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.siderbar-item{
  position: relative;
  line-height: 40px;
}

.deco-button{
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.menu-link{
  display: block;
  overflow: hidden;
  font-size: .875rem;
  text-decoration: none;
  color: $sidebar-item-color;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 2px;
}

.menu-icon{
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 3px;
}

.sidebar-item:hover, .menu-link-active{
  .fa{
    color: white;
    background: $blue;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 1px;
  }
}

.deco-button:hover .fa{
  background: rgb(247, 101, 101);
}

.menu-link-active{
  cursor: default;
}


