.sidebar{
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 200px;
  z-index: 100;
  width: 70px;
}

.sidebar-container{
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
  margin: 50px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.siderbar-item{
  position: relative;
  line-height: 40px;
}

.deco-button{
  position: absolute;
  bottom: 20px;
  width: 100%;
}


.menu-link{
  display: block;
  overflow: hidden;
  font-size: .875rem;
  text-decoration: none;
  color: $sidebar-item-color;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 2px;
}

.menu-icon{
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 10px;
}


.sidebar-item:hover, .menu-link-active{
  .fa{
    color: white;
    background: $blue;
  }
}


// .home-item:hover .fa, .home-item .menu-link-active .fa{
//   background: #0080FF;
//   // color: #5699DB;
// }

// .dashboard-item:hover .fa, .dashboard-item .menu-link-active .fa{
//   background: #FF7F00;
// }

// .account-item:hover .fa, .account-item .menu-link-active .fa{
//   background: green;
// }

.deco-button:hover .fa{
  // color: black;
  background: rgb(247, 101, 101);
}
.menu-link-active{
  cursor: default;
}


