
collapsible-tree{
  position: relative;
  float: left;
  width: calc(100% - 200px);
  height: calc(100% - 4px);

}

#admin-button{
  position: absolute;
	color: cornflowerblue;
  top: 40px;
  left: 40px;
  border: 2px solid cornflowerblue;
  padding: 10px 10px;
  border-radius: 20px;

  cursor: pointer;

  &:hover{
    background: cornflowerblue;
    color: white;
  }
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke-width: 0.1em;
}

.node text {
  font-size: 1em;
  fill: $view-tree-color;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 0.1em;
}

.link-active{
  fill: none;
  stroke: cornflowerblue;
  stroke-width: 0.1em;
}

#admin-popup-content{
  // margin-top: 20px;
  // margin-bottom: 20px;
}


@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.admin-popup {
  padding-bottom: 160px;
  padding-top: 160px;

  color: #2C3A33;
}
#admin-popup-input{
  padding-left: 20px;
  padding-bottom: 5px;
  font-size: .8em;
  width: 200px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid grey;
  background: #f0f0f0;
}


#admin-popup-button{
  margin-left: 40px;
	color: $navbar-bg;
  border-radius: 10px;
  background: $popup-button-bg;
  padding: 3px 10px;
  font-size: .8em;
  display: inline-block;

  border: 2px solid $navbar-bg;


//  box-shadow: 0px 1px 1px 1px $navbar-bg;

  cursor: pointer;
  &:hover, &:focus, &.focus{
    // animation: ngdialog-pulse 1.1s infinite;
		color: whitesmoke;
    border-radius: 10px;
    border: 2px solid $navbar-bg;

    background: $popup-button-hover-bg;
    // box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.6);
  }

}

.admin-popup.ngdialog-closing .ngdialog-content {
  animation: ngdialog-flyout .5s;
}

.admin-popup .ngdialog-content {
  animation: ngdialog-flyin .5s;
  background: whitesmoke;
  border-radius: 5px;
  // color: #444;
  // font-family: 'Helvetica',sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 3.5em 1em 1.5em 1em;
  position: relative;
  width: 450px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

#admin-popup-title{
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  left: 0px;
  top: 0px;
  padding-left: 1em;
  line-height: 2em;
  width: 100%;
  height: 2em;
  background: $navbar-bg;
	color: whitesmoke;
  border-bottom: 1px solid $dark-grey;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  // margin-top: 5px;
}

.admin-popup .ngdialog-close {
  // border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: .5em;
  top: 0;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #454A47;

  &:hover{
    color: black;
  }

}

