#admin-co{
  position: absolute;
  bottom: 0px;
  right: 50px;
  width: 300px;
  height: 30px;
  background: #f6f6f6;
  z-index: 100;
  transition: all 0.3s ease-out;
}

.admin-co-open{
  height: inherit !important;

  #admin-co-image{
    transform:rotate(180deg);
  }
}

//Header
#admin-co-header{
  height: 30px;
  padding-left: 10px;
  padding-right: 20px;
  line-height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: black;
  color: white;
  cursor: pointer;
  font-family: 'Ubuntu', 'Open Sans'
}

#admin-co-image{
  position: absolute;
  right: 10px;
  line-height: 30px;
  margin: 0;
}


//Body
#admin-co-body{
  height: 100%;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 1em;
  background: #383838;
  position: relative;
}

.admin-co-input{
  padding: 10px 10px;
  width: calc(100% - 40px);
  margin-bottom: 10px;
  margin-left: 10px;
  display: block;
  border-radius: 5px;
  font-size: .9em;
  border: 2px solid #383838;
   // box-shadow: 0px 0px 0px 2px #383838,inset 0 0 0 0 #000;
  // box-shadow: none;

  &.ng-valid, &:focus{
    border: 2px solid #44AB52;
    // box-shadow: none
  }

  &.ng-touched.ng-invalid{
    border: 2px solid red;
    // box-shadow: 0px 0px 0px 2px #FF7F7F,inset 0 0 0 0 #000;
    // box-shadow: none
  }

}


#admin-co-secondary-options{
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 20px;

}

#admin-co-password-forgotten, #admin-co-sign-up{
  position: relative;
  display: inline-block;
  float: left;
  font-size: .8em;
  color: $ligthy-gris;
  cursor: pointer;
  &:hover{
    color: white;
    text-decoration: underline;
  }
}

#admin-co-sign-up{
  float: right;
  padding-right: 10px;
}

#admin-co-password-forgotten{
  float: left;
  padding-left: 10px;
}
