// .bubble:before{
//   content: "";
//   position: absolute;
//   border-top: 14px solid #97a5db;
//   border-right: 14px solid transparent;
//   border-left: 14px solid transparent;
//   top: 10px;
//   left: 40px;
//   z-index: 999
// }

.bubble:after{
  position: absolute;
  content: attr(write);
  color: #FFF;
  left: 20px;
  top: -22px;
  white-space: nowrap;
  // width: 200px;
  background: #97a5db;
  padding: 5px 10px;
  border-radius: 6px;
  z-index: 999
}

#mybubble{
  position: absolute;
  top: 400px;
  left: 600px;
  z-index: 999
}

.bubble-chapter{

}

.bubble-file{

}

.bubble{
  position: absolute
}
// .bubble-rectangle{
//   color: #FFF;
//   white-space: nowrap;
//   background: #97a5db !important;
//   padding: 5px 10px;
//   border-radius: 6px;
//   z-index: 999;
//   cursor: default;
// }
