#bubble-action-node{
  position: absolute;
  top: 200px;
  left: 500px;
  z-index: 100
}
.bubble-action{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: red;
  cursor: pointer;

  // &:after{
  //   content: "";
  //   position: absolute;
  //   z-index: 200;
  //   left: 20px;
  //   right: 20px;
  //   // top: 5px;
  //   // bottom: 5px;
  //   background: blue;
  //   // border: 1px solid red;
  // }
}

.bubble-action{
  position: relative;
}

// a[bubbletooltip]:link, a[bubbletooltip]:visited{
//   text-decoration: none;
//   position: relative;
//   color : red;
// }

.bubble-content:before{
  content: "";
  position: absolute;
  border-top: 14px solid #97a5db;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  // visibility: hidden;
  bottom: 12px;
  right: -8px;
}

.bubble-content:after{
  position: absolute;
  content: "Delete a node";
  color: #FFF;
  // font-weight:bold;
  right: -188px;
  bottom: 24px;
  width: 200px;
  background: #97a5db;
  padding: 5px 10px;
  border-radius: 6px;
  // visibility: hidden;
}

.bubble-content:before, .bubble-content:after
{
  visibility: visible;
  transition: visibility 0s linear .3s;
}
