.dragoverAccept #dragndrop-view{
  display: block;
}

#dragndrop-view{
  position: fixed;
  z-index: 100;
  display: none;

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.black-background{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.2;
}
#dragndrop-container{
  position: absolute;

  height: 40%;
  width: 50%;
  top: 25%;
  left: 25%;
}

#dragndrop-content{
  position: absolute;
  display: inline-block;
  z-index: 2;

  top: 0px;
  width: 100%;

  text-align: center;

  #dragndrop-text{
    position: relative;
    font-size: 3.5em;
    font-weight: bold;
    color: white;
  }
}

#dragndrop-black-area{
  position: absolute;

  height: calc(100% - 50px);
  width: 100%;
  top: 70px;

  background: black;
  opacity: 0.8;
  border-radius: 20px;

  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
  &:before{
    position: absolute;
    content: "";

    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;

    border-radius: 20px;
    box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.4);
  }
}
