#view-tree{
  position: relative;
  float: left;
  z-index: 5;
  height: 100%;
  width: calc(65% - 3px);
}

.circleCollapse, .nameNode, .addNode, .deleteNode, .renameNode{
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke-width: 0.1em;
}

.node text {
  font-size: .8em;
  fill: $view-tree-color;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 0.1em;
}

.link-active{
  fill: none;
  stroke: cornflowerblue;
  stroke-width: 0.1em;
}



