#document-tree{
  position: relative;
  width: 100%;
  height: calc(100% - 40px);
}

/*==================================
=            Breadcrumb            =
==================================*/

#breadcrumb{
  position: relative;
  height: 36px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: rgb(74, 74, 88);
  font-family: 'Open Sans', sans-serif;
}

#breadcrumb-container{
  position: relative;
  float: center;
  display: inline-block;
}

#breadcrumb-title{
  position: relative;
  float: left;
}
.breadcrumb-node{
  float: left;
}

.breadcrumb-separator{
  padding: 0px 8px;
}

.chapterSelected{
  background: #C1CCE5 !important;
}

/*===============================
=            Buttons            =
===============================*/

#button-row{
  height: 100px;
  width: 100%;
  line-height: 100px;
  display: table;
  margin: 0px auto;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-hidden{
  visibility: hidden;
}


.dual-submit{
  // border: 2px solid $document-color;
  // color: $document-color;
  // background: white;

  border: 1px solid $blue;
  color: #EEEEEE;
  cursor: pointer;
  background: $blue;

  border-radius: 1px;

  margin: 0px 30px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 1px;

  @media (max-width: 1500px) {
    margin: 0px 18px;
  }

  @media (max-width: 1200px) {
    margin: 0px 10px;
    padding: 10px 10px;
    font-size: 1em;
  }

  font-family: 'Open Sans', sans-serif;

  font-size: 18px;
  text-decoration: none;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .fa{
    margin-right: 5px;
  }

   &:hover{
    border-color: #66A4FA;
    // border-bottom-color: #0084DC;
    background: #66A4FA;
  }

  &:active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    // background-color: #6F9EF2;
    background-image: linear-gradient(#4991F5, #66A4FA);
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 1px 2px 1px;
  }

}

.default-submit{
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: table;

  border: 1px solid #d4d4d4;
  color: #EEEEEE;
  cursor: pointer;
  // background: linear-gradient(#f4f4f4, #ececec);
  background: #0087E0;
  border-radius: 0.2em;


  padding: 10px 0px;

  font-family: 'Open Sans', sans-serif;

  font-size: 20px;
  text-decoration: none;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover{
    border-color: #008EEC;
    border-bottom-color: #0084DC;
    background: #008DEB;
  }

  &:active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: linear-gradient(#3072b3, #599bdc);
  }

  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

/* overrides extra padding on button elements in Firefox */
.submit-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}


/*===============================
=            UI Tree            =
===============================*/

// #tree-root{
//   width: calc(100% - 4px);
//   margin-left: 2px;
//   margin-top: 2px;
//   // box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 1px;
//   background: #ff5722;
// }

#ui-tree-container{
	font-size: 16px;
  position: absolute;
  top: 120px;
  bottom: 80px;
  width: 90%;
  margin-left: 5%;
  z-index: 10;

  overflow-y: auto;
}


.item-name, .chapter-number{
  line-height: 48px;
  padding-top: 2px;
  display: inline-block;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 1200px) {
    font-size: .9em;
    line-height: 38px;
  }
}

.item-name{
  margin-left: 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.angular-ui-tree-node{
  // margin-left: 10px;
}
.angular-ui-tree-nodes{
  color: $document-color;
}

.angular-ui-tree-handle {
  display: inline-block;
  width: 100%;
  margin-bottom: 1px;
  opacity: 1;
  font-weight: 500;
  height: 50px;
  padding: 0px 9px;
  cursor: default;
  // float: left;

  @media (max-width: 1200px) {
    height: 40px;
  }

  &:hover{
    background: $document-hover;
  }
}

#root-object{
  color: $document-color;
  cursor: pointer;
  padding: 9px 9px;
  &:hover{
    background: $document-hover;
  }
}

.isdocument{

  &:hover{
    background: $document-hover;
  }

  .item-name{
    margin-left: 4px;
  }

  .item-name, .file-icon{
    color: #0054AD;
  }
}

.isNew{
  .item-name, .chapter-number{
    // color: red;
  }
}

.collapsed{
  &:hover{
    background: $document-hover;
  }
}

/*==========  Buttons  ==========*/
.btn, .btn-collapse{
  float: left;

  width: 24px !important;
  line-height: 50px;

  @media (max-width: 1200px) {
    line-height: 40px;
  }


  display: inline-block;
  cursor: pointer;
}

.angle-right-hidden{
  visibility: hidden;
}

.btn-collapse{
  font-size: 1.5em;
  // padding-right: 8px;
  color: #007CCE;

  @media (max-width: 1200px) {
    font-size: 1.3em;
  }

  &:hover,&:focus {
    color: #0065A8;
  }

  .fa{
    transition: all .1s ease-out;
  }
}

.btn {
  font-size: 1.1em;
  margin-right: 8px;

  @media (max-width: 1200px) {
    margin-right: 2px;
    font-size: .8em;
    width: 18px;
  }

  &:hover, &:focus,{
    color: #0065A8 !important;
    text-decoration: none;
  }
}


.expanded{
  transform: translate(0, 3px) rotate(90deg) ;
}


.btn-delete, .btn-rename, .btn-preview, .btn-download{
  display: none;
  float: right;
}

.fa-caret-right, .fa-caret-down{
  font-size: .8em;
}

.file-icon{
  float: left;
  color: $fa-color;
  line-height: 50px;
  margin-left: 27px;

   @media (max-width: 1200px) {
    line-height: 40px;
  }
}

.angular-ui-tree-handle:hover {
  .btn-delete, .btn-rename, .btn-preview, .btn-download{
    display: inline-block;
    color: $fa-color;
    &:hover{
      color: $fa-hover;
    }
  }
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  box-sizing: border-box;
}


/*===========================
=            Tip            =
===========================*/

.tip{
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 40px;
  height: 30px;
  font-size: .9em;
  color: $dark-gris;
  z-index: 0;
  .fa{
    line-height: 22px;
    margin-right: 5px;
  }
}



/*===================================
=            No document            =
===================================*/

// .breadcrumb-no-doc{
//   background: $document-absent-bg !important;
// }

// .no-docs{
//   background: $document-absent-bg !important;
// }

#document-absent-title, #document-absent-subtitle{
  position: relative;
  float: left;
  z-index: 5;

  width: 100%;
  display: inline-block;
  text-align: center;
}

#document-absent-title{
  font-size: 2em;
  padding-bottom: 10px;
  padding-top: 40px;
  height: 10%;
}
#document-absent-subtitle{
  height: 5%;
  padding-bottom: 20px;
}

/*================================
=            Dropzone            =
================================*/

// #document-absent-dropzone-container{
//   position: absolute;
//   bottom: 0px;
//   // height: 100%;
//   top: 200px;
//   // height: calc(75% - 80px);
//   width: 90%;
// }

// #document-absent-dropzone{
//   position: relative;
//   float: left;
//   width: 80%;
//   height: 100%;
//   margin-left: 10%;
//   // margin-top: 10%;

//   // border-radius: 60px;
//   // border: 2px solid $dropzone-color;
// }

// // Pic
// #document-absent-dropzone-image{
//   position: relative;
//   height: 300px;
//   width: 300px;
//   margin-bottom: 20px;

//   //background-image: url(image-path('dropzone.png'));
// //  background-size: contain;
// //  background-position: center;
// //  background-repeat: no-repeat;
// //  opacity: 0.4;
//   background: grey;
//   border-radius: 150px;
//   box-shadow: rgba(0, 0, 0, 0.258824) 0px 5px 8px 2px;
//   text-align: center;
//   color: rgb(239,239,239);
// }

// // #dropzone-image-container{
// //   position: absolute;
// //   top: calc(50% - 35px);
// //   width: 100%;

// //   .fa-download{
// //     margin: 0px auto;
// //     display: table;
// //     font-size: 4em;
// //     color: $dark-gris;
// //   }
// // }


// // Text under the pic
// #document-absent-text-under-pic{
//   position: relative;
//   height: 40%;
//   width: 80%;
//   left: 10%;
//   text-align: center;
//   color: $dark-gris;
// }

// #document-absent-text-drop{
//   font-size: 1.5em;
//   margin-bottom: 20px;
// }





/*=========================================
=            select leaf                  =
=========================================*/

.full-size-circle-container{
  display: flex;
  // justify-content: center;
  align-items: center;
  height: calc(100% - 170px);
}



// #select-leaf-text{
//   position: absolute;
//   bottom: 0px;
//   font-family: 'Open Sans', sans-serif;
//   color: grey;
//   width: 100%;
//   // text-align: center;
// }

.full-size-circle{
  height: 300px;
  width: 300px;
  margin-left: calc(50% - 150px);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E5E5E5;

  box-shadow: rgba(0, 0, 0, 0.258824) 0px 5px 5px 2px;
  text-align: center;
  color: white;
}

#select-leaf .full-size-circle{
  font-size: 14em;
}

#dropzone-circle .full-size-circle{
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px;

}

/*===================================
=            Rename Node            =
===================================*/

#view-document-rename-popup{
  position: absolute;
  top: 300px;
  width: 100%;
  z-index: 100;
  width: 500px;
  display: none;
}

#small-ui-tree{
  overflow-y: auto;
  max-height: 800px;
  margin-left: 15px;

  .angular-ui-tree-handle {
    cursor: pointer;
  }
}


#fileDropped{
  position: fixed;
  width: 40%;
  top: calc(50% - 350px);
  left: 30%;
  z-index: 100;
  display: none;
  animation: fileDropped-flyin .5s;
}

.popup-header{
  line-height: 50px;
  background: #0087E0;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 20px;
}

#file-dropped-position{
  margin-bottom: 20px;
}

.popup-body{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
  background: white;
}

#fileDroppedBackground{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.2;
  display: none;
  z-index: 100;
}

@keyframes fileDropped-flyin {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.school-ready-to-disappear{
  animation: fileDropped-flyin 1s;
}


