#right-tree{
  position: relative;
  float: left;
  padding-top: 20px;
  height: calc(100% - 20px);
  width: calc(35%);
}

/*==================================
=            Breadcrumb            =
==================================*/

#breadcrumb{
  position: relative;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  color: rgb(74, 74, 88);
  font-family: 'Open Sans', sans-serif;
}

/*----------  Title  ----------*/

#breadcrumb-container{
  display: inline-block;
}

#breadcrumb-title{
  position: relative;
  display: inline-block;
}

.breadcrumb-separator{
  display: inline-block;
  padding: 0px 8px;
}



/*----------  Protection file  ----------*/

#protection-node-container{
  vertical-align: top;
  position: relative;
  display: inline-block;
}

.round-button{
  background: white;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  font-size: 1em;
  border: none;
  color: rgb(69,82,94);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 1px;

  &:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 2px;
  }
}

.protection-file-disabled{
  &, &:hover{
    box-shadow: none;
  }

  cursor: auto;
}

.node-change-password{
  cursor: pointer;
  font-size: .7em;
  color: grey;

  &:hover{
    text-decoration: underline;
  }
}

.protection-file-on{
  color: rgb(255,96,89);
}

.protection-file-off{
  color: #29CF5D;
}

/*----------  node options  ----------*/

#options-node{
  vertical-align: top;
  position: relative;
  display: inline-block;
  color: rgb(69,82,94);
}

#breadcrumb{
  .dropdown{
    right: 0px;
    top: 42px;
  }

  .dropdown:before{
    right: 7px;
  }

  .dropdown:after{
    right: 9px;
  }
}
/*===============================
=            Buttons            =
===============================*/

#button-row{
  position: relative;
  height: 100px;
  width: 100%;
  line-height: 100px;
  display: table;
  margin: 0px auto;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-hidden{
  visibility: hidden;
}

.dual-submit{
  border: 1px solid $blue;
  color: #EEEEEE;
  cursor: pointer;
  background: $blue;
  border-radius: 1px;
  margin: 0px 30px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 1500px) {
    margin: 0px 18px;
  }

  @media (max-width: 1200px) {
    margin: 0px 10px;
    padding: 10px 10px;
    font-size: 1em;
  }

  .fa{
    margin-right: 5px;
  }

   &:hover{
    border-color: #66A4FA;
    background: #66A4FA;
  }

  &:active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background: linear-gradient(#4991F5, #66A4FA);
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 1px 2px 1px;
  }
}

.default-submit{
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  border: 1px solid #d4d4d4;
  color: #EEEEEE;
  cursor: pointer;
  background: #0087E0;
  border-radius: 0.2em;
  padding: 10px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: table;

  &:hover{
    border-color: #008EEC;
    border-bottom-color: #0084DC;
    background: #008DEB;
  }

  &:active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: linear-gradient(#3072b3, #599bdc);
  }
}

/* overrides extra padding on button elements in Firefox */
.submit-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*===============================
=            UI Tree            =
===============================*/

#document-tree{
  position: relative;
  width: 100%;
  height: calc(100% - 130px);
}

#ui-tree-container{
  font-size: 16px;
  position: relative;
  height: calc(100% - 70px);
  margin-bottom: 20px;
  width: 90%;
  margin-left: 5%;
  overflow-y: auto;
}

.angular-ui-tree-handle {
  font-size: .9em;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 1px;
  opacity: 1;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0px 9px;
  color: $document-color;
  cursor: pointer;

  &:hover{
    background: $document-hover;

    .input-rename-item{
      background: $document-hover
    }
  }
}

.itemSelected{
  background: #C1CCE5 !important;

  .btn-options{
    visibility: visible !important;
  }
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  box-sizing: border-box;
}

.isdocument{
  &:hover{background: $document-hover;}
  .item-name{margin-left: 4px;}
  .item-name, .file-icon{color: #0054AD;}
}

/*----------  Tree displayed while drop  ----------*/

#small-ui-tree{
  overflow-y: auto;
  max-height: 800px;
  margin-left: 15px;

  .angular-ui-tree-handle {
    cursor: pointer;
  }
}

#root-object{
  color: $document-color;
  cursor: pointer;
  padding: 9px 9px;
  &:hover{
    background: $document-hover;
  }
}

/*----------  Collapse button  ----------*/

.empty-space{
  display: table-cell;
  width: 24px;
}

.btn-collapse{
  display: table-cell;
  width: 24px;
  cursor: pointer;
  font-size: 1.5em;
  color: #007CCE;

  .fa{
    margin-bottom: 0px;
    vertical-align: middle;
  }

  &:hover,&:focus {
    color: #0065A8;
  }

  .fa{
    transition: all .1s ease-out;
  }
}

.expanded{
  transform: translate(0, 3px) rotate(90deg) ;
}

.angle-right-hidden{
  visibility: hidden;
}

/*----------  Chapters  ----------*/

.chapter-number{
  width: 18px;
  padding-top: 2px;
  display: table-cell;
}

.depth1{width: 30px !important;}
.depth2{width: 40px !important;}
.depth3{width: 50px !important;}
.depth4{width: 60px !important;}

/*----------  File icons  ----------*/

.file-icon{
  display: table-cell;
  width: 24px;
  color: $fa-color;
}

/*----------  Item name  ----------*/

.item-name{
  position: relative;
  height: 40px !important;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: table-cell;

}

/*----------  Buttons  ----------*/

.btn {
  display: table-cell;
  width: 35px;
  text-align: center;
  cursor: pointer;
  font-size: 1.1em;
  margin-right: 8px;
  line-height: 40px;
  .fa{
    width: 100%;
    height: 100%;
    line-height: 40px;
  }

  &:hover, &:focus,{
    color: #0065A8 !important;
    text-decoration: none;
  }
}

.angular-ui-tree-handle .btn-options{
  visibility: hidden;
}

.angular-ui-tree-handle:hover {
  .btn-options{
    visibility: visible;
    color: $fa-color;
    &:hover{
      color: $fa-hover;
    }
  }
}

/*----------  Dropdown  ----------*/

#document-tree{
  .dropdown{
    right: 10px;
    top: 40px;
  }

  .dropdown:before{
    right: 9px;
  }

  .dropdown:after{
    right: 11px;
  }
}

/*=============================================================
=            No documents - select left | dropzone            =
=============================================================*/

.full-size-circle-container{
  position: relative;
  display: flex;
  align-items: center;
  height: calc(100% - 50px);
}

.full-size-circle{
  height: 300px;
  width: 300px;
  margin-left: calc(50% - 150px);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E5E5E5;

  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 4px 2px;
  text-align: center;
  color: white;

  @media (max-width: 1200px) {
    height: 240px;
    width: 240px;
    margin-left: calc(50% - 120px);
    border-radius: 120px;
  }

  @media (max-width: 900px) {
    height: 180px;
    width: 180px;
    margin-left: calc(50% - 90px);
    border-radius: 90px;
  }
}

/*----------  select leaf  ----------*/

#select-leaf .full-size-circle{
  font-size: 14em;
}

/*----------  dropzone  ----------*/

#dropzone-circle .full-size-circle{
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px;
}

/*===========================
=            Tip            =
===========================*/

.tip{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  margin-bottom: 20px;
  height: 30px;
  line-height: 30px;
  font-size: .9em;
  color: $dark-gris;
  z-index: 0;
  font-size: 0.8em;
  .fa{
    line-height: 30px;
    margin-right: 5px;
  }
}






















#fileDropped{
  position: fixed;
  width: 40%;
  top: calc(50% - 350px);
  left: 30%;
  z-index: 100;
  display: none;
  animation: fileDropped-flyin .5s;
}

.popup-header{
  line-height: 50px;
  background: #0087E0;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 20px;
}

#file-dropped-position{
  margin-bottom: 20px;
}

.popup-body{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
  background: white;
}

#fileDroppedBackground{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.2;
  display: none;
  z-index: 100;
}

@keyframes fileDropped-flyin {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.school-ready-to-disappear{
  animation: fileDropped-flyin 1s;
}

