#application-view{
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  // z-index: 10;

}

// #pretty-bg{
//   position: fixed;
//   left: 25%;
//   top: 70%;
//   width: 40%;
//   height: 50%;
//   background-image: url(image-path('wallpaper.png'));
//   // background-image: url(image-path('shattered.png')) !important;


//   // background-image: url(image-path('wallpaper.png')) !important;
//   background-size: cover;
//   // background-position: center;
//   // background-repeat: no-repeat;
//   // opacity: 0.7;
// }

// #funny-bg{
//   position: fixed;
//   left: 30%;
//   top: 70%;
//   width: 40%;
//   height: 50%;
//   background-image: url(image-path('wallpaper.png'));
//   background-size: cover;
// }

#view-tree{
  position: relative;
  float: left;
  z-index: 5;

  height: 100%;
  width: calc(65% - 3px);

  // border-right: 3px solid grey;

  // box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.4);
}


#view-document, .no-nodeEnd{
  position: relative;
  float: left;
  margin-top: 40px;
  height: calc(100% - 40px);
  width: calc(35%);
}

// .no-nodeEnd{
//   margin-top: 36px;
// }
// .no-nodeEnd{
//   position: relative;
//   color: $dark-gris;
//   height: 100%;
//   width: 100%;
//   background: red;
// }

#no-nodeEnd-text{
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: $dark-gris;
  width: 100%;
  text-align: center;
}

#no-nodeEnd-pic{
  position: relative;
  width: 80%;
  height: 35%;
  margin-left: 10%;
  margin-top: 30%;
  margin-bottom: 30px;

  background-image: url(image-path('no-doc.png'));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  text-align: center;
}
