#application-view{
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

#white-background{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  z-index: 998;
  opacity: 0.1;
  cursor: no-drop;
  display: none;
}




