<div id="slide1-mob" class="slide-mob">
  <div class="mob-large-title">Unisphere</div>
  <div class="mobile-image presentation-image"></div>
  <div class="slide1-explanation">Workspace for higher educational institutions</div>

  <div id="learn-more">Learn more<i class="fa fa-angle-down"></i></div>

</div>

<div id="slide2-mob" class="slide-mob">
  <div class="mob-small-title">Share files</div>
  <div class="mobile-image share-image"></div>
  <%#= image_tag "mob-share.jpg" %>
  <div class="mob-explanation">Upload your lessons, exercises and tests on Unisphere. They are available from anywhere.</div>
</div>
<div id="slide3-mob" class="slide-mob">
  <div class="mob-small-title">Plug in</div>
  <div class="mobile-image plugin-image"></div>
  <%#= image_tag "mob-stats.jpg" %>
  <div class="mob-explanation">Unisphere is very easy to plug in your existing digital environment.</div>
</div>
<div id="slide4-mob" class="slide-mob">
  <div class="mob-small-title">In depth statistics</div>
  <div class="mobile-image statistic-image"></div>
  <%#= image_tag "mob-stats.jpg" %>
  <div class="mob-explanation">Follow your students behavior to improve your lessons.</div>
</div>

<div id="mob-footer">
  <div class="mob-footer-text"><i class="fa fa-copyright"></i>2015 Unisphere SAS</div>
</div>



