<div id="mob-first-slide">
  <div id="mob-title">UNISPHERE</div>
  <div id="mob-pitch">Workspace for educational institutions</div>
  <div id="mob-quote">Clean, reliable and easy to use</div>
</div>

<div id="mob-app">
  <div id="mob-app-title">An intuitive design</div>
  <div id="mob-picture"></div>
</div>

<div id="mob-features">
  <div id="mob-features-title">Features</div>
  <div class="mob-feature">
    <div class="mob-feature-title">Sharing</div>
    <div class="mob-feature-content">Unisphere's first aim is to enable students and teachers to share data quickly, efficiently and easily</div>
  </div>
  <div class="mob-feature">
    <div class="mob-feature-title">Plug in</div>
    <div class="mob-feature-content">Unisphere works like an add-on to plug in an established learning digital environment. Nothing to configure, lets create your organization on http://home.unisphere.eu</div>
  </div>
  <div class="mob-feature">
    <div class="mob-feature-title">Personalized statistics</div>
    <div class="mob-feature-content">We provide charts to enable teachers to get an idea of how are used their shared files</div>
  </div>
  <div class="mob-feature">
    <div class="mob-feature-title">Support</div>
    <div class="mob-feature-content">We want you to have the best user experience possible. At any time you can use the in-app chat to discuss with us</div>
  </div>
</div>

