<div class="swiper-container">
  <div class="swiper-wrapper">

    <div class="swiper-slide" id="mob-slide-1">
      <div class="wrapper-slide" id="wrapper-slide-1"></div>
      <div class="mob-large-title">Unisphere</div>
      <div class="mob-small-title">Workspace for higher educational institution</div>
    </div>

    <div class="swiper-slide" id="mob-slide-2">
      <div class="wrapper-slide" id="wrapper-slide-2"></div>
      <div class="mob-large-title">Unisphere</div>
      <div class="mob-small-title">Share files between students and lecturers</div>
    </div>

    <div class="swiper-slide" id="mob-slide-3">
      <div class="wrapper-slide" id="wrapper-slide-3"></div>
      <div class="mob-large-title">Unisphere</div>
      <div class="mob-small-title">In depth statistic of your student behavior</div>
    </div>

  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>


