#admin-dashboard {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 70px calc(50% - 500px);
  width: 1000px;
  text-align: center;
}
#admin-dashboard-title {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
}

#admin-dashboard-table-title td {
  font-size: 36px;
  padding-bottom: 40px;
}

.admin-dashboard-title-active .last {
  text-align: left;
}

.admin-dashboard-title-active {
  .first {
    color: blue;
  }
}

.admin-dashboard-title-inactive {
  .first {
    color: red;
  }
}
