<div ng-show="accountSignup" class="account-gestion-wrapper" id="account-signup" ng-class="{'account-gestion-ready-to-disappear': !accountSignup, 'account-gestion-ready-to-appear': accountSignup}">
  <div class="account-gestion">
    <div class="account-gestion-header">Sign up to Unisphere <span class="fa fa-times" ng-click="closeAccountSignup()"></span></div>
    <div class="account-gestion-display">

      <input type="email" id="account-signup-email" placeholder="Type your email" class="admin-co-input" ng-model="accountSignupInput" autofocus>

      <input type="password" placeholder="Type your password" class="admin-co-input" ng-model="accountSignupInput" id="account-signup-email">

      <button class="button-green-black" id="accountSignupButton" ng-click="accountSignup()">{{ 'VALIDATE' | translate }}</button>

    </div>
    <div class="account-gestion-bg"></div>
  </div>
</div>

<div ng-show="accountForgotten" class="account-gestion-wrapper" id="account-forgotten" ng-class="{'account-gestion-ready-to-disappear': !accountForgotten, 'account-gestion-ready-to-appear': accountForgotten}">

  <div class="account-gestion">
    <div class="account-gestion-header">Unisphere password forgotten <span class="fa fa-times" ng-click="closeAccountForgotten()"></span></div>
    <div class="account-gestion-display">

      <input type="email" id="account-signup-email" placeholder="Type your email" class="admin-co-input" ng-model="accountForgottenInput" autofocus>

      <button class="button-green-black" id="accountForgottenButton" ng-click="resetAccount()">Send mail</button>

    </div>
    <div class="account-gestion-bg"></div>
  </div>
</div>
