<div id="slide2" class="slide" ng-show="home">
  <div id="demo-app-home" >
    <div ng-include="'home/demo-app-navbar.html'"></div>
    <dragndrop-view></dragndrop-view>

    <div id="main-view-container">

      <div id="view-tree">
        <collapsible-tree  node-end = 'nodeEnd' flat-data = 'nodes' active-nodes = 'activeNodes'></collapsible-tree>
      </div>


      <ui-tree-perso active-nodes='activeNodes' node-end='nodeEnd' files = 'files' display-error = 'displayError'></ui-tree-perso>
    </div>
  </div>
  <slide3></slide3>
</div>


<div ng-hide="home"  id="main-container" ng-file-drop ng-model="files" drag-over-class="{accept:'dragoverAccept', reject:'dragoverReject', delay:100}"  ng-multiple="true" allow-dir="true" accept=".jpg,.png,.pdf" ng-init="helpChat()">

  <div id="grey-panel" ng-show="showGreyPanel"></div>
  <admin-popup show-grey-panel = 'showGreyPanel' display-admin-popup = 'displayAdminPopup' admin = 'admin' display-error = 'displayError' hide-error = 'hideError'></admin-popup>

  <div ng-include="'main/navbar.html'"></div>
  <dragndrop-view ng-show="nodeEnd"></dragndrop-view>

  <div id="main-view-container" >

    <error-display display-error = 'displayError' hide-error = 'hideError' admin = 'admin'></error-display>

    <div id="view-tree">
      <collapsible-tree  node-end = 'nodeEnd' flat-data = 'nodes' display-error ='displayError' active-nodes = 'activeNodes' admin = 'admin'></collapsible-tree>
    </div>

    <ui-tree-perso active-nodes='activeNodes' node-end='nodeEnd' files = 'files' display-error = 'displayError' ng-show="nodeEnd" admin = 'admin'></ui-tree-perso>
  </div>

  <div id="admin-button" ng-click="displayAdminPopup()" ng-hide="admin">
    <span id="admin-button-text">{{ 'ADMIN_LOGIN' | translate }}</span>
    <i id="admin-button-image" class="fa fa-caret-up"></i>
  </div>

  <div id="deco" ng-show="admin" ng-click="adminDeco()">Deconnection</div>
</div>


<!-- <div>lol</div> -->

