<div id="slide2" class="slide" ng-if="home">
  <div id="demo-app-home" >
    <div ng-include="'home/demo-app-navbar.html'"></div>
    <dragndrop-view></dragndrop-view>

    <div id="main-view-container">

      <div id="view-tree">
        <collapsible-tree  node-end = 'nodeEnd' active-nodes = 'activeNodes'></collapsible-tree>
      </div>


      <ui-tree-perso active-nodes='activeNodes' node-end='nodeEnd' files = 'files' display-error = 'displayError'></ui-tree-perso>
    </div>
  </div>
  <slide3></slide3>
</div>


<div ng-hide="home"  id="main-container">

  <error-display display-error = 'displayError' hide-error = 'hideError' admin = 'admin'></error-display>

  <div ng-include="'main/navbar.html'"></div>

  <sidebar ng-show="admin" admin='admin' admin-deco = 'adminDeco'></sidebar>


  <div id="main-view-container" class="wrapper wrapper__minify">
    <div ui-view id="ui-view-main-wrapper"></div>
  </div>

  <!-- <div id="deco" ng-show="admin" ng-click="adminDeco()">Deconnection</div> -->
</div>



