<div ng-if="home" id="home-container" ng-controller="HomeCtrl">
  <slide1></slide1>
  <slide3 sandbox-nodes = 'sandboxNodes' ></slide3>
  <slide2 display-error = 'displayError'></slide2>
  <slide4></slide4>
  <slide5></slide5>
</div>

<error-display display-error = 'displayError' hide-error = 'hideError' admin = 'admin'></error-display>

<div ng-hide="home"  id="application-container">

  <div ng-include="'main/navbar.html'"></div>

  <sidebar ng-show="admin" admin-deco = 'adminDeco' sidebar-minified = 'sidebarMinified'></sidebar>


  <div id="main-view-container" class="wrapper wrapper__minify">
    <div ui-view id="ui-view-main-wrapper"></div>
  </div>

  <!-- <div id="deco" ng-show="admin" ng-click="adminDeco()">Deconnection</div> -->
</div>



