<div id="grey-background"></div>

<span us-spinner="{radius:50, width:12, length: 16, color: 'white', position: 'fixed', 'z-index': 999}" spinner-key="spinner-1"></span>

<div ng-if="$root.home" id="home-container">
  <slide ng-click="looseFocusItem()"></slide>
</div>

<div ng-if="!$root.home" id="application-container">

  <navbar></navbar>

  <admin-co ng-hide="$root.admin" get-basic-info = 'getBasicInfo'></admin-co>

  <sidebar ng-show="$root.admin" deconnection = 'deconnection'></sidebar>

  <div ui-view id="main-view-container"></div>

</div>



