<error-display list-error = 'listError' show-error = 'showError' ></error-display>
<success-display success= 'success'></success-display>

<div id="grey-background" ng-show="greyBackground"></div>

<first-co help = 'help' sandbox = 'sandbox' id="first-connection"></first-co>

<span us-spinner="{radius:50, width:12, length: 16, color: 'white', position: 'fixed'}" spinner-key="spinner-1"></span>

<div ng-if="home" id="home-container">
  <slide1></slide1>
  <slide3 desactivate-spinner = 'desactivateSpinner' activate-spinner = 'activateSpinner' home ='home' sandbox='sandbox'></slide3>
  <slide2 desactivate-spinner = 'desactivateSpinner' activate-spinner = 'activateSpinner' display-error = 'displayError' display-success = 'displaySuccess'></slide2>
  <slide4></slide4>
  <slide5></slide5>
</div>

<div ng-hide="home"  id="application-container">

  <div ng-include="'main/navbar.html'"></div>

  <admin-co account-forgotten = 'accountForgotten' ng-hide="admin" display-error = 'displayError' account-forgotten-email ='accountForgottenEmail' hide-error = 'hideError' admin = 'admin' sandbox= 'sandbox' get-basic-info = 'getBasicInfo'></admin-co>

  <account-gestion  account-forgotten-email ='accountForgottenEmail' account-forgotten = 'accountForgotten' account-signup = 'accountSignup' display-error = 'displayError' display-success = 'displaySuccess' hide-error = 'hideError' admin = 'admin'></account-gestion>

  <sidebar ng-show="admin" admin-deco = 'adminDeco' sidebar-minified = 'sidebarMinified'></sidebar>


  <div id="main-view-container" class="wrapper wrapper__minify">
    <div ui-view id="ui-view-main-wrapper"></div>
  </div>

</div>



