<div id="grey-background"></div>

<first-co help = 'help' sandbox = 'sandbox' id="first-connection"></first-co>

<span us-spinner="{radius:50, width:12, length: 16, color: 'white', position: 'fixed', 'z-index': 999}" spinner-key="spinner-1"></span>

<div ng-if="home" id="home-container">
  <slide sandbox = 'sandbox' home = 'home'></slide>
</div>

<div ng-if="!home" id="application-container">

  <navbar account-email='accountEmail' university='university'></navbar>

  <admin-co ng-hide="admin" sandbox= 'sandbox' get-basic-info = 'getBasicInfo' admin = 'admin'></admin-co>

  <sidebar ng-show="admin" deconnection = 'deconnection' superadmin = 'superadmin'></sidebar>

  <div ui-view id="main-view-container"></div>

</div>



