<div id="grey-background"></div>

<first-co help = 'help' sandbox = 'sandbox' id="first-connection"></first-co>

<span us-spinner="{radius:50, width:12, length: 16, color: 'white', position: 'fixed', 'z-index': 999}" spinner-key="spinner-1"></span>

<div ng-if="home" id="home-container">
  <slide1></slide1>
  <slide3 home ='home' sandbox='sandbox'></slide3>
  <slide2></slide2>
  <slide4></slide4>
  <slide5></slide5>
</div>

<div ng-if="!home" id="application-container">

  <navbar account-email='accountEmail' university='university'></navbar>

  <admin-co account-forgotten = 'accountForgotten' ng-hide="admin" account-forgotten-email ='accountForgottenEmail' admin = 'admin' sandbox= 'sandbox' account-name ='accountName' account-email ='accountEmail' help = 'help' list-user = 'listUser'></admin-co>

  <account-gestion  account-forgotten-email ='accountForgottenEmail' account-forgotten = 'accountForgotten' account-signup = 'accountSignup' admin = 'admin'></account-gestion>

  <sidebar ng-show="admin" admin = 'admin' account-name = 'accountName' account-email='accountEmail'></sidebar>

  <div ui-view id="main-view-container"></div>

</div>



