<nav id="navbar" role="navigation">
  <div id="brand">
    <%= image_tag "logo.png", id: "logo"%>
  </div>

  <div id="school">
    <span id="school-name">{{ $root.university }}</span>
  </div>

  <div id="user-name" ng-show="$root.admin">
    <i class="fa fa-user"></i>
    <span ng-hide="$root.sandbox">{{$root.accountEmail}}</span>
    <span ng-show="$root.sandbox && $root.admin">admin@unisphere.eu</span>
    <span ng-show="$root.sandbox && !$root.admin">student@unisphere.eu</span>
  </div>

  <div id="language-selection">
    <div dropdown-menu="dropDownLanguage" dropdown-model="selectedLanguage" dropdown-onchange="changeLanguage(selected)">
      <span id="flag-img-container" ng-if="selectedLanguage.value != 'fr'">
        <%= image_tag "uk.png" %>
      </span>
      <span id="flag-img-container" ng-if="selectedLanguage.value == 'fr'">
        <%= image_tag "fr.png"%>
      </span>
      <span class="fa fa-caret-down"></span>
    </div>
  </div>

</nav>
