<nav id="navbar" role="navigation">
  <div id="brand">
    <span id="brand-logo">
      <!-- <object type="image/svg+xml" data="<%= asset_path 'mickey.svg' %>"></object> -->
    </span>
    <span id="brand-name" >Unisphere</span>
  </div>

  <div id="school">
    <span id="school-name">{{ $root.university }}</span>
  </div>

  <div id="user-name">
    <span>{{$root.accountEmail}}</span>
  </div>

  <div id="language-selection">
    <div dropdown-menu="ddSelectOptions" dropdown-model="ddSelectSelected" dropdown-onchange="changeLanguage('fr')">
      <span id="flag-img-container" ng-if="ddSelectSelected.value == 'en'">
        <%= image_tag "uk.png" %>
      </span>
      <span id="flag-img-container" ng-if="ddSelectSelected.value == 'fr'">
        <%= image_tag "fr.png"%>
      </span>
      <span class="fa fa-caret-down"></span>
    </div>
  </div>

</nav>
