<nav id="navbar" role="navigation">
  <div id="brand">
    <span id="brand-logo">
      <object type="image/svg+xml" data="<%= asset_path 'mickey.svg' %>"></object>
    </span>
    <span id="brand-name">Unisphere</span>
  </div>

  <div id="school">
    <span id="school-name">{{ university }}</span>
  </div>


  <div id="language-selection">
    <div dropdown-menu="ddSelectOptions" dropdown-model="ddSelectSelected" dropdown-onchange="changeLanguage('fr')">
      <span id="flag-img-container">
        <object id="flag-img" type="image/svg+xml" data="/assets/{{ddSelectSelected.value}}.svg" >{{ddSelectSelected.value}} </object>
      </span>
      <span class="fa fa-caret-down"></span>
    </div>
  </div>


<!--   <div id="help-center">
    <i class="fa fa-lightbulb-o"></i>
    <span id="help-center-text" onclick="FHChat.transitionTo('maximized')">{{ 'HELP' | translate }}</span>
  </div> -->
</nav>