<div class="ui-notification notification-wrapper news-notification">
  <div class="fa fa-times notification-close"></div>
  <div class="notification-title">Mise à jour</div>
  <div class="notication-subtitle">Unisphere évolue en permanence. Si vous constatez un bug, contactez-nous:  <a href="mailto:hello@unisphere.eu" >hello@unisphere.eu</a>.</div>
  
  <!-- <div class="notification-element"><span class="fa fa-circle"></span>Nouvelles fonctionnalités:</div> -->
  
  <div class="notification-element"><span class="fa fa-circle"></span>Améliorations:</div>

  <div class="notification-list-element"><span class="fa fa-check"></span>Vous pouvez désormais cliquer glisser les noeuds de l'arbre du côté gauche</div>
  
  <div class="notification-list-element"><span class="fa fa-check"></span>Vous pouvez désormais cliquer glisser les chapitres et documents dans le gestionnaire du côté droit</div>

  <div class="notification-list-element"><span class="fa fa-check"></span>l'importation de dossiers avec une architecture complexes a été améliorée</div>
  
  <!-- <a target="_blank" href="http://blog.unisphere.eu/" class="notification-footer">Rendez-vous sur notre blog pour plus de détails.</a> -->
</div>
