<div class="prompt-wrapper" id="success-prompt" ng-show="showSuccess" ng-class="{'ready-to-disappear': !showSuccess, 'ready-to-appear': showSuccess}">
  <div class="prompt-title" id="success-prompt-title">Success</div>
  <div id="success-prompt-text">
    <span class="success">{{success}}</span>
  </div>
</div>