<div class="prompt-wrapper" id="success-prompt">
  <div class="prompt-title" id="success-prompt-title">Success</div>
  <div id="success-prompt-text">
    <span class="success">{{success}}</span>
  </div>
</div>