<div id="view-document">

<!--   <div id="breadcrumb">
    <div id="breadcrumb-container">
      <div id="breadcrumb-title">
        <span ng-repeat="node in breadcrumb" ng-class="'breadcrumb-node'">{{node}} <span ng-class="'breadcrumb-separator'" ng-hide="$index == breadcrumb.length - 1">/</span></span>
      </div>
    </div>
  </div> -->


  <script type="text/ng-template" id="items_renderer.html">
    <div ui-tree-handle ng-class="{isdocument: item.document, 'collapsed': collapsed && this.$modelValue.items.length != 0, 'isNew' : this.$modelValue.title == 'new chapter', chapterSelected : this.$modelValue.activeItem, parentChapterSelected : this.$parentNodeScope.$modelValue.activeItem, depth2 : this.$modelValue.depth == 1 && !this.$modelValue.document, depth3 : this.$modelValue.depth == 2 && !this.$modelValue.document, borderBottom: item.document && item.$$nextSibling != null}">

      <!-- <i ng-show="item.document" nodrag class="fa fa-minus caret"></i> -->

      <a class="btn-collapse" nodrag ng-if="!item.document" ng-click="toggleItems(this)" ng-controller="FoldCtrl" ng-init="collapseItems(this)"><span ng-class="{'fa fa-angle-right': collapsed && this.$modelValue.items.length != 0, 'fa fa-angle-down': !collapsed && this.$modelValue.items.length != 0}"></span></a>

      <div ng-init="printChapter(this)" class="chapter-number">{{item.chapter}}</div>
      
      <div class="item-name">{{item.title}}</div>

      <a class="btn btn-delete" nodrag ng-show="!item.document && admin" ng-click="removeItem(this)"  ng-controller="CrudCtrl" analytics-on="click" analytics-event="delete" analytics-category="chapter" analytics-label="<%#= request.url.split('.').first %>" ><span class="fa fa-times"></span></a>
			<a class="btn btn-delete" nodrag ng-show="item.document && admin" ng-click="removeItem(this)" ng-controller="CrudCtrl" analytics-on="click" analytics-event="delete" analytics-category="document" analytics-label="<%#= request.url.split('.').first %>"><span class="fa fa-times"></span></a>
			
      <a class="btn btn-rename" ng-controller="CrudCtrl" nodrag ng-show="!item.document && admin" ng-click="renameItems(this)" analytics-on="click" analytics-event="rename" analytics-category="chapter" analytics-label="<%#= request.url.split('.').first %>"><span class="fa fa-pencil"></span></a>
			<a class="btn btn-rename" ng-controller="CrudCtrl" nodrag ng-show="item.document && admin" ng-click="renameItems(this)" analytics-on="click" analytics-event="rename" analytics-category="document" analytics-label="<%#= request.url.split('.').first %>"><span class="fa fa-pencil"></span></a>

      <a class="btn btn-add" nodrag ng-show="!item.document && admin" ng-click="newSubItem(this)" ng-controller="CrudCtrl" analytics-on="click" analytics-event="create" analytics-category="chapter" analytics-label="<%#= request.url.split('.').first %>"><span class="fa fa-plus"></span></a>

      <a class="btn btn-add-document" ng-multiple="true" ng-file-select ng-model="fileStore.files" ng-click="storeClick(this)" ng-show="!
      item.document && admin" nodrag analytics-on="click" analytics-event="upload" analytics-category="document" analytics-label="<%#= request.url.split('.').first %>" ><span class="fa fa-upload" ></span></a>

      <a ng-href={{item.preview_link}} download class="btn btn-download" ng-show="item.document" nodrag analytics-on="click" analytics-event="download" ng-click="downloadItem(this)" analytics-category="document" analytics-label="<%#= request.url.split('.').first %>"><span class="fa fa-arrow-circle-o-down"></span></a>

      <a ng-href={{item.preview_link}} class="btn btn-preview" target="_blank" ng-show="item.document && item.type == 'application/pdf'" nodrag analytics-on="click" analytics-event="preview" analytics-category="document" analytics-label="<%#= request.url.split('.').first %>" ><span class="fa fa-eye"></span></a>

    </div>
    
    <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed, containerSelected : this.$modelValue.activeItem}" ng-init="initCounter()">
      <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'"  ng-init="initI()"></li>
    </ol>
  </script>

  <div id="document-tree" ng-class="{'no-docs' : documentAbsent}">

    <div id="document-absent-title" ng-show="documentAbsent && admin">{{ 'NEW_SUBJECT' | translate }}</div>

    <div id="document-absent-subtitle"  ng-show="documentAbsent && admin">{{ 'LEFT_TREE_EXPLANATION' | translate }}</div>
   

    <div id="button-row" ng-show="admin">
      <button class="submit-button" ng-multiple="true" ng-file-select ng-model="firstFiles" analytics-on="click" analytics-event="upload" analytics-category="document" analytics-label="<%#= request.url.split('.').first %>" >{{ 'UPLOAD' | translate }}</button>


      <button ng-controller="CrudCtrl" class="submit-button" ng-click="newSubItem()" analytics-on="click" analytics-event="create" analytics-category="chapter" analytics-label="<%#= request.url.split('.').first %>" analytics-on="click" analytics-event="create" analytics-category="chapter" analytics-label="<%#= request.url.split('.').first %>" >{{ 'CHAPTER' | translate }}</button>
    </div>

    <div id="ui-tree-container" ng-if="!documentAbsent">
      <div ui-tree="options" data-drag-enabled="false">
        <ol ui-tree-nodes ng-model="list" >
          <li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'"></li>
        </ol>
      </div>
    </div>

    <div id="document-absent-dropzone-container" ng-show="documentAbsent && admin">
      <div id="document-absent-dropzone" ng-show="documentAbsent">
        <!-- <div id="document-absent-text">No files and no chapters here!</div> -->
        <i id="document-absent-dropzone-image" class="fa fa-arrow-circle-o-down">
        </i>

        <div id="document-absent-text-under-pic">
          <div id="document-absent-text-drop">{{ 'DROP_ZONE' | translate }}</div>
          <div id="document-absent-type-item-droppable" ng-show="IsChrome">{{ 'DROP_EXPLANATION' | translate }}<i class="fa fa-smile-o"></i></div>
        </div>
      </div>
    </div>

    <!-- <button id="test-button" ng-click="testtest()">hopla</button> -->

  </div>
</div>