right-tree{
  position: relative;
  float: left;
  padding-top: 20px;
  height: calc(100% - 20px);
  width: calc(35%);
  z-index: 10;
}

#right-tree{
  position: relative;
  height: 100%;
  width: 100%;
}

.right-container{
  position: relative;
  width: 100%;
  margin-top: 20px;
  height: calc(100% - 170px);
}



























