#dropcircle-container{
  display: flex;
  justify-content: center;
}

#dropcircle {
  width: 60%;
  align-self: center;
}

#dropcircle:after {
  content: "";
  display: block;
  width: 100%;
  height:0;
  padding-bottom: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
  background: $blue;
  border-radius: 50%;
}

#dropcircle div {
  position: absolute;
  top: 50%;
  left: 23%;
  transform: translateY(-50%);
  width:54%;
  text-align:center;
  color:white;

  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px;
}



