@import "angular-ui-tree/dist/angular-ui-tree.min";
@import "ngDialog/css/ngDialog.min";

@import "font-awesome";


// @import "fontawesome/css/font-awesome";
// @import "ngDialog/css/ngDialog-theme-default.min";

@font-face {
  font-family: "Lato";
  font-style: normal;
  src: local("Lato Black"), local("Lato-Black"), url("https://fonts.gstatic.com/s/lato/v10/BVtM30trf7q_jfqYeHfjtA.woff") format("woff");
}


$border-error-prompt: #E9BCBC;
$error-promt-color-dark: #9F1D1D;
$error-promt-color-light: #B23B3B;
$error-promt-bg: #F2DEDE;
$error-promt-color-very-light: #C45858;


$mega-light-grey: #FCFCFC;
$ultra-light-grey: #FAFAFA;
$supra-light-grey: #F2F2F2;
$super-light-grey: #EEEEEE; // use for side
$dark-grey: #6C6B80;
$very-dark-grey: #4A4A58;

$light-grey: #CDCDCD;


$dark: #4E4646;


//$navbar-bg: #DC143C;
//$navbar-bg: #6495ED;
$navbar-bg: #4169E1;
$navbar: #F5F5F5;

$tree-bg: white;
$group-bg: $ultra-light-grey;
$group-header-bg: $ultra-light-grey;
$chapter-header-bg: $mega-light-grey;
$chapter-list-bg: $supra-light-grey;
$group-doc-bg: white;
$separation-lines: $light-grey;


$document-color: $dark;
$document-bg-hover: $ultra-light-grey;
$document-folded-bg: $super-light-grey;
// $document-border-color: $super-light-grey;

/*==========  view tree  ==========*/

$view-tree-color: $dark;
$button-hover-color: $dark-grey;
$button-active-color: $very-dark-grey;




$popup-header-bg: #00BC5E;
$popup-button-bg: whitesmoke;
$popup-button-hover-bg: $navbar-bg;



// $place-holder: red;
// $input-bg: green;

// input::-webkit-input-placeholder {color: $place-holder;}
// input::-moz-placeholder {color: $place-holder;}
// input:-moz-placeholder {color: $place-holder;}
// input:-ms-input-placeholder {color: $place-holder;}

// input:-webkit-autofill {
//   -webkit-box-shadow: 0 0 0px 1000px $input-bg inset;
// }
// input:-webkit-autofill:focus {
//   -webkit-box-shadow: 0px 0 1px 2px blue, inset 0 1px 2px 1000px pink;
// }


@import "main";
@import "navbar";

