<div name="profileForm" id="account" ng-controller="AccountCtrl">
  <div class="panel">
    <div class="panel-header">{{ 'PROFIL' | translate }}</div>
    <div class="panel-body">
      <div class="panel-row-title">{{ 'NAME' | translate }}</div>
      <input type="text" placeholder="" class="panel-input" ng-model="updatedName">

      <div class="panel-row-title">{{ 'EMAIL' | translate }}</div>
      <input type="email" placeholder="" class="panel-input" ng-model="updatedEmail">

      <button class="panel-submit" ng-click="updateAccount()">{{ 'UPDATE_PROFIL' | translate }}</button>
    </div>
  </div>

  <form name="organizationForm" class="panel" id="panel-orgnanization">
    <div class="panel-header">{{ 'ORGANIZATION' | translate }}</div>
    <div class="panel-body">

      <div class="panel-row-title">{{ 'NEW_LECTURER' | translate }}</div>
      <label><input name="input" required type="email" id="addAdmin" placeholder="" class="panel-input input-float" ng-model="newUser" ></label>

      <div id="add-user" class="fa fa-plus" ng-click="addUser()"></div>

      <button class="panel-submit" ng-click="inviteUsers()">{{ 'INVITE' | translate }}</button>
    </div>
  </form>

  <form name="passwordForm" class="panel">
    <div class="panel-header">{{ 'PASSWORD' | translate }}</div>
    <div class="panel-body">

      <div class="panel-row-title">{{ 'NEW_PSW' | translate }}</div>
      <input type="password" id="new-password" class="panel-input" ng-model="newPsw" ng-minlength=8 >

      <div class="panel-row-title">{{ 'CONFIRM_PSW' | translate }}</div>
      <input type="password" id="confirm-password" class="panel-input" ng-model="confirmPsw" ng-minlength=8>

      <button class="panel-submit" ng-click="updatePsw()">{{ 'UPDATE_PSW' | translate }}</button>
    </div>
  </form>

  <div id="panel-user-to-invite"  ng-show="listUser.length != 0" ng-class="{'listUser-ready-to-disappear': listUser.length == 0, 'listUser-ready-to-appear': listUser.length != 0}">
    <div class="panel-header header-special">{{ 'USERS_INVITED' | translate }}</div>
    <div class="panel-body body-special">
      <div class="item-user" ng-repeat="user in listUser">
        <i class="fa fa-envelope"></i>{{user}}
      </div>
    </div>
  </div>
</div>
