<div id="account" ng-controller="AccountCtrl">
  <div class="panel">
    <div class="panel-header">Profile</div>
    <div class="panel-body">
      <div class="panel-row-title">Name</div>
      <input type="text" placeholder="" class="panel-input" ng-model="updatedName">

      <div class="panel-row-title">Email</div>
      <input type="email" placeholder="" class="panel-input" ng-model="updatedEmail">

      <button class="panel-submit" ng-click="updateAccount()">Update profil</button>
    </div>
  </div>

  <form name="organizationForm" class="panel" id="panel-orgnanization">
    <div class="panel-header">Organization</div>
    <div class="panel-body">

      <div class="panel-row-title">New lecturer</div>
      <input type="text" placeholder="" class="panel-input input-float" ng-model="newUser" >

      <div id="add-user" class="fa fa-plus" ng-click="addUser()"></div>

      <button class="panel-submit" ng-click="inviteUsers()">Invite lecturers</button>
    </div>
  </form>

  <div class="panel">
    <div class="panel-header">Password</div>
    <div class="panel-body">

      <div class="panel-row-title">New Password</div>
      <input type="password" class="panel-input" ng-model="newPsw" >

      <div class="panel-row-title">Confirm new Password</div>
      <input type="password" class="panel-input" ng-model="confirmPsw" >

      <button class="panel-submit" ng-click="updatePsw()">Update password</button>
    </div>
  </div>

  <div id="panel-user-to-invite"  ng-show="listUser">
    <div class="panel-header header-special">User to invite</div>
    <div class="panel-body body-special">
      <div class="item-user" ng-repeat="user in listUser">
        <i class="fa fa-envelope"></i>{{user}}
      </div>
    </div>
  </div>
</div>
