<div id="error-prompt" ng-show="showError" ng-init="showError=false" ng-class="{'ready-to-disappear': !showError, 'ready-to-appear': showError}">
  <div id="close-error-prompt" ng-click="hideError()" class="fa fa-close"></div>
  <div id="error-prompt-title">Error </div>
  <div id="error-prompt-text">
    <div ng-repeat="error in listError"><i ng-if="listError.length > 1" class="fa fa-caret-right"></i>{{error}}</div>
  </div>
</div>

<div id="view-tree">
  <collapsible-tree node-end = 'nodeEnd' flat-data = 'nodes' display-error ='displayError' current-node = 'currentNode'></collapsible-tree>
  <div id="admin-button" ng-click="openPlain()">Administrator</div>
</div>

<div id="view-group">
  {{nodeEnd[1]}}
  <div ng-show="documentAbsent">HELLO</div>

  <script type="text/ng-template" id="items_renderer.html">
    <div ui-tree-handle ng-class="{isdocument: item.document, 'collapsed': collapsed && this.$childNodesScope.$modelValue != undefined, 'isNew' : this.$modelValue.title == 'new chapter'}" ng-if="item.parent!=0">

      <i ng-show="item.document" nodrag class="fa fa-minus caret"></i>

      <a class="btn btn-collapse" nodrag ng-if="!item.document" ng-click="toggleItems(this)" ng-init="collapseItems(this)"><span ng-class="{'fa fa-angle-right': collapsed && this.$childNodesScope.$modelValue != undefined, 'fa fa-angle-down': !collapsed && this.$childNodesScope.$modelValue != undefined}"></span></a>

      <div ng-init="printChapter(this)" class="chapter-number">{{item.chapter}}</div>
      
      <div class="item-name">{{item.title}}</div>

      <a class="btn btn-delete" nodrag ng-click="removeItems(this)"><span class="fa fa-times"></span></a>

      <a class="btn btn-rename" nodrag ng-click="renameItems(this)"><span class="fa fa-pencil"></span></a>

      <a class="btn btn-add" nodrag ng-if="!item.document" ng-click="newSubItem(this)"><span class="fa fa-plus"></span></a>

      <a class="btn btn-add-document" ng-multiple="true" ng-file-select ng-model="fileStore.files" ng-click="storeClick(this)" ng-if="!
      item.document" nodrag><span class="fa fa-upload" ></span></a>

      <a ng-href={{item.preview_link}} download class="btn btn-download" ng-show="item.document" nodrag><span class="fa fa-arrow-circle-o-down"></span></a>

      <a ng-href={{item.preview_link}} class="btn btn-preview" target="_blank" ng-show="item.document && item.type == 'application/pdf'" nodrag ><span class="fa fa-eye"></span></a>

    </div>
    <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}" ng-init="initCounter()">
      <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'"  ng-init="initI()"></li>
    </ol>
  </script>

  <div id="document-tree">
   
    <div ui-tree="options" ng-if="nodeEnd" >
      <ol ui-tree-nodes ng-model="list" >
        <li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'"></li>
      </ol>
    </div>
  </div>


</div>


<script type="text/ng-template" id="firstDialogId">
  <div id="admin-popup-title">Connect as administrator</div>
  <div id="admin-popup-content">
    <input type="password" placeholder="type your password" id="admin-popup-input" autofocus> 
    <div id="admin-popup-button" >Validate</div>
  </div>
</script>