<div id="view-tree">
 <collapsible-tree branch = 'nodes' current-node = 'currentNode'></collapsible-tree>
</div>

<div id="view-group">
  <script type="text/ng-template" id="items_renderer.html">
    <div ui-tree-handle>
      <a class="btn btn-collapse" nodrag ng-click="toggleItems(this)"><span class="fa" ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}"></span></a>
      {{item.title}}
      <a class="btn btn-add" nodrag ng-click="newSubItem(this)"><span class="fa fa-plus"></span></a>
      <a class="btn btn-delete" nodrag ng-click="removeItems(this)"><span class="fa fa-trash"></span></a>
    </div>
    <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
      <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'">
      </li>
    </ol>
  </script>

  <div id="document-tree">
    <div ui-tree="options">
      <ol ui-tree-nodes ng-model="list" >
        <li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'"></li>
      </ol>
    </div>
  </div>

</div>


