<nav id="navbar" role="navigation">
  <div id="brand">
    <span id="brand-logo">
      <object type="image/svg+xml" data="<%= asset_path 'mickey.svg' %>"></object>
    </span>
    <span id="brand-name">Unisphere</span>
  </div>

  <div id="school">
    <span id="school-name">Lycée Freppel</span>
  </div>

  <div id="help-center">
    <i class="fa fa-lightbulb-o"></i>
    <span id="help-center-text">Help</span>
  </div>
</nav>