<div id="handIn" ng-controller="handInCtrl">

<!--   <div id="handInHeaderRight">
    <div id="downloadAllButton">Download all assignments</div>
  </div> -->

  <div class="handInPaneHeader">
    <span class="handInPaneHeaderStudent">Student</span>
    <span class="handInPaneHeaderDate">Hand-in date</span>
    <span class="handInPaneHeaderGrade">Grade</span>
  </div>

  <ul id="handInStudentTable">
    <li class="studentRow">
      <div class="handInStudent">
        <span class="fa fa-user handInStudentPic"></span>
        <div class="handInStudentInfos">
          <span class="handInStudentName">Gabriel Muller</span>
          <span class="handInStudentView">View assignment</span>
        </div>
      </div>
      <div class="handInDate">Sep 16</div>
      <div class="handInGrade">
        <!-- <div class="noGrade">No grade</div> -->
        <div class="graded">89</div>
        <div class="fixedPartGrade">/100</div>
      </div>
    </li>

    <li class="studentRow">
      <div class="handInStudent">
        <span class="fa fa-user handInStudentPic"></span>
        <div class="handInStudentInfos">
          <span class="handInStudentName">Gabriel Muller</span>
          <span class="handInStudentView">View assignment</span>
        </div>
      </div>
      <div class="handInDate">Sep 16</div>
      <div class="handInGrade">
        <!-- <div class="noGrade">No grade</div> -->
        <div class="graded">89</div>
        <div class="fixedPartGrade">/100</div>
      </div>
    </li>

    <li class="studentRow">
      <div class="handInStudent">
        <span class="fa fa-user handInStudentPic"></span>
        <div class="handInStudentInfos">
          <span class="handInStudentName">Gabriel Muller</span>
          <span class="handInStudentView">View assignment</span>
        </div>
      </div>
      <div class="handInDate">Sep 16</div>
      <div class="handInGrade">
        <!-- <div class="noGrade">No grade</div> -->
        <div class="graded">89</div>
        <div class="fixedPartGrade">/100</div>
      </div>
    </li>

    <li class="studentRow">
      <div class="handInStudent">
        <span class="fa fa-user handInStudentPic"></span>
        <div class="handInStudentInfos">
          <span class="handInStudentName">Gabriel Muller</span>
          <span class="handInStudentView">View assignment</span>
        </div>
      </div>
      <div class="handInDate">Sep 16</div>
      <div class="handInGrade">
        <!-- <div class="noGrade">No grade</div> -->
        <div class="graded">89</div>
        <div class="fixedPartGrade">/100</div>
      </div>
    </li>

    <li class="studentRow">
      <div class="handInStudent">
        <span class="fa fa-user handInStudentPic"></span>
        <div class="handInStudentInfos">
          <span class="handInStudentName">Gabriel Muller</span>
          <span class="handInStudentView">View assignment</span>
        </div>
      </div>
      <div class="handInDate">Sep 16</div>
      <div class="handInGrade">
        <!-- <div class="noGrade">No grade</div> -->
        <div class="graded">89</div>
        <div class="fixedPartGrade">/100</div>
      </div>
    </li>

    <li class="studentRow">
      <div class="handInStudent">
        <span class="fa fa-user handInStudentPic"></span>
        <div class="handInStudentInfos">
          <span class="handInStudentName">Gabriel Muller</span>
          <span class="handInStudentView">View assignment</span>
        </div>
      </div>
      <div class="handInDate">Sep 16</div>
      <div class="handInGrade">
        <!-- <div class="noGrade">No grade</div> -->
        <div class="graded">89</div>
        <div class="fixedPartGrade">/100</div>
      </div>
    </li>
  </ul>
</div>
