<div id="handIn">
  <div id="handInHeader">
<!--     <div id="handInHeaderTop">
      <div id="handInHeaderText">ASSIGNMENT</div>
      <div id="handInHeaderDate">15 Sep</div>
    </div> -->
    <div id="handInHeaderLeft">
      <div id="handInHeaderTitle">What did I do this summer</div>
      <div id="handInHeaderSubject">Tell me, in 1 paragraph what you did this summer.</div>
    </div>
    <div id="handInHeaderRight">
      <div id="downloadAllButton">Download all assignments</div>
    </div>
  </div>

  <div class="handInPaneHeader">
    <span class="handInPaneHeaderStudent">Student</span>
    <span class="handInPaneHeaderDate">Hand-in date</span>
    <span class="handInPaneHeaderGrade">Grade</span>
  </div>

  <ul id="handInStudentTable">
    <li class="studentRow">
      <div class="handInStudent">
        <span class="fa fa-user handInStudentPic"></span>
        <div class="handInStudentInfos">
          <span class="handInStudentName">Gabriel Muller</span>
          <span class="handInStudentView">View assignment</span>
        </div>
      </div>
      <div class="handInDate">Sep 16</div>
      <div class="handInGrade">
        <!-- <div class="noGrade">No grade</div> -->
        <div class="graded">89</div>
        <div class="fixedPartGrade">/100</div>
      </div>
    </li>

    <li class="studentRow">
      <div class="handInStudent">
        <span class="fa fa-user handInStudentPic"></span>
        <div class="handInStudentInfos">
          <span class="handInStudentName">Gabriel Muller</span>
          <span class="handInStudentView">View assignment</span>
        </div>
      </div>
      <div class="handInDate">Sep 16</div>
      <div class="handInGrade">
        <!-- <div class="noGrade">No grade</div> -->
        <div class="graded">89</div>
        <div class="fixedPartGrade">/100</div>
      </div>
    </li>

    <li class="studentRow">
      <div class="handInStudent">
        <span class="fa fa-user handInStudentPic"></span>
        <div class="handInStudentInfos">
          <span class="handInStudentName">Gabriel Muller</span>
          <span class="handInStudentView">View assignment</span>
        </div>
      </div>
      <div class="handInDate">Sep 16</div>
      <div class="handInGrade">
        <!-- <div class="noGrade">No grade</div> -->
        <div class="graded">89</div>
        <div class="fixedPartGrade">/100</div>
      </div>
    </li>

    <li class="studentRow">
      <div class="handInStudent">
        <span class="fa fa-user handInStudentPic"></span>
        <div class="handInStudentInfos">
          <span class="handInStudentName">Gabriel Muller</span>
          <span class="handInStudentView">View assignment</span>
        </div>
      </div>
      <div class="handInDate">Sep 16</div>
      <div class="handInGrade">
        <!-- <div class="noGrade">No grade</div> -->
        <div class="graded">89</div>
        <div class="fixedPartGrade">/100</div>
      </div>
    </li>

    <li class="studentRow">
      <div class="handInStudent">
        <span class="fa fa-user handInStudentPic"></span>
        <div class="handInStudentInfos">
          <span class="handInStudentName">Gabriel Muller</span>
          <span class="handInStudentView">View assignment</span>
        </div>
      </div>
      <div class="handInDate">Sep 16</div>
      <div class="handInGrade">
        <!-- <div class="noGrade">No grade</div> -->
        <div class="graded">89</div>
        <div class="fixedPartGrade">/100</div>
      </div>
    </li>

    <li class="studentRow">
      <div class="handInStudent">
        <span class="fa fa-user handInStudentPic"></span>
        <div class="handInStudentInfos">
          <span class="handInStudentName">Gabriel Muller</span>
          <span class="handInStudentView">View assignment</span>
        </div>
      </div>
      <div class="handInDate">Sep 16</div>
      <div class="handInGrade">
        <!-- <div class="noGrade">No grade</div> -->
        <div class="graded">89</div>
        <div class="fixedPartGrade">/100</div>
      </div>
    </li>
  </ul>
</div>
