#admin-co{
  position:absolute;
  bottom: 0px;
  right:50px;
  width: 300px;
  height: 30px;
  background:#f6f6f6;
  z-index: 100;
  transition: all 0.3s ease-out;
}

.admin-co-open{
  height: inherit !important;

  #admin-co-image{
    transform:rotate(180deg);
  }
}

//Header
#admin-co-header{
  height: 30px;
  padding-left: 10px;
  padding-right: 20px;
  line-height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: black;
  color: white;
  cursor: pointer;
}

#admin-co-image{
  position: absolute;
  right: 10px;
  line-height: 30px;
}


//Body
#admin-co-body{
  height: 100%;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 1em;
  background: #383838;
  position: relative;
}

.admin-co-input{
  padding: 10px 10px;
  width: calc(100% - 40px);
  margin-bottom: 10px;
  margin-left: 10px;
  display: block;
  border-radius: 5px;
  font-size: .9em;
  border: 2px solid #383838;
  box-shadow: none;

  &:focus{
    border: 2px solid #44AB52;
  }
}

#admin-co-button{
  border: 1px solid #2B2222;
  color: #EEEEEE;
  cursor: pointer;
  background: #44AB52;
  border-radius: 0.2em;

  width: 140px;
  margin-top: 10px;
  margin-left: calc(50% - 70px);
  padding: 10px 0px;

  font-family: Arial;

  font-size: .9em;
  text-decoration: none;

  cursor: pointer;

  &:hover{
    border-color: black;
    border-bottom-color: #2B2222;
    background: #20B334;
  }

  &:active {
    border-color: black;
    border-bottom-color: #5C5454;
    background-color: #1FC436;
  }
}


#admin-co-secondary-options{
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 20px;

}

#admin-co-password-forgotten, #admin-co-sign-up{
  position: relative;
  display: inline-block;
  float: left;
  font-size: .8em;
  color: $ligthy-gris;
  cursor: pointer;
  &:hover{
    color: white;
    text-decoration: underline;
  }
}

#admin-co-sign-up{
  float: right;
  padding-right: 10px;
}

#admin-co-password-forgotten{
  float: left;
  padding-left: 10px;
}