#document-tree{
  position: relative;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  height: calc(100% - 40px);
  background: white;
}

/*==================================
=            Breadcrumb            =
==================================*/

#breadcrumb{
  position: relative;
  height: 40px;
  width: 100%;
  line-height: 40px;
  background: white;
  text-align: center;
  color: #828282;
	font-style: italic;
}

#breadcrumb-container{
  position: relative;
  float: center;
  display: inline-block;
}

#breadcrumb-title{
  position: relative;
  float: left;
}
.breadcrumb-node{
  float: left;
  // padding: 0px 5px; 
}

.breadcrumb-separator{
  padding: 0px 8px; 
}

/*===============================
=            Buttons            =
===============================*/



#button-row{
  position: relative;
  height: 100px;
  width: 100%;
  line-height: 100px;
}

// .submit-button {
//   width: 39%;
//   margin-left: 5%;
//   margin-right: 5%;
//   padding: 10px 0px;

//   background: linear-gradient(to bottom, $light-blue, $blue);

//   border-radius: 5px;
//   border: none;
//   box-shadow: 1px 1px 1px #666666;

//   font-family: Arial;
//   color: #ffffff;
//   font-size: 20px;
//   text-decoration: none;

//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;

//   &:hover {
//     background: linear-gradient(to bottom, $hyper-light-blue, $super-light-blue);
//     text-decoration: none;
//     cursor: pointer;
//   }
// }
.submit-button {

  border: 1px solid #d4d4d4;
  // text-shadow: 1px 1px 0 #fff;
  // color: #333;
  color: #EEEEEE;
  cursor: pointer;
  background: linear-gradient(#f4f4f4, #ececec);
	background: #0087E0;
  border-radius: 0.2em;

  width: 39%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px 0px;

  font-family: Arial;

  font-size: 20px;
  text-decoration: none;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  cursor: pointer;

  &:hover{
    border-color: #008EEC;
    border-bottom-color: #0084DC;
    background: #008DEB;
  }

  &:active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: linear-gradient(#3072b3, #599bdc);
  }


}



// .submit-button:hover,
// .submit-button:focus,
// .submit-button:active,
// .submit-button.active {
//     border-color: #3072b3;
//     border-bottom-color: #2a65a0;
//     text-decoration: none;
//     text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
//     color: #fff;
//     background-color: #3c8dde;
//     background-image: linear-gradient(#599bdc, #3072b3);
// }

// .submit-button.active {
//     border-color: #2a65a0;
//     border-bottom-color: #3884cd;
//     background-color: #3072b3;
//     background-image: linear-gradient(#3072b3, #599bdc);
// }

/* overrides extra padding on button elements in Firefox */
.submit-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}


// .submit-button {
//   width: 39%;
//   margin-left: 5%;
//   margin-right: 5%;
//   padding: 10px 0px;

//   background: linear-gradient(to bottom, #3498db, #2980b9);
//   border-radius: 14px;
//   font-family: Arial;
//   color: whitesmoke;
//   background: #4169E1;
//   border: solid #4169E1 2px;


//   font-size: 20px;
//   text-decoration: none;

//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;

//   cursor: pointer;


//   &:hover {
//     background: whitesmoke;
//     color: #2980b9 !important;
//     text-decoration: none;
//   }
// }

/*===============================
=            UI Tree            =
===============================*/

#ui-tree-container{
	font-size: 16px;
  position: absolute;
  top: 100px;
  height: calc(100% - 100px);
  width: 90%;

  overflow-y: auto;
}

.item-name, .chapter-number{
  display: inline-block;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-name{
  width: calc(100% - 240px);
  margin-left: 4px;
}

.angular-ui-tree-node{
  margin-left: 10px;
}
.angular-ui-tree-nodes{
  color: $document-color;
}

.angular-ui-tree-handle {
  opacity: 1;
  font-weight: 500;
  border: 1px solid white;
  // background: $chapter-depth1-bg;
  padding: 9px 9px;

  &:hover{
    background: $document-hover;
  }
}

.isdocument{
  padding-left: 35px;

  &:hover{
    background: $document-hover;
  }

  .item-name{
    width: calc(100% - 120px);
    margin-left: 4px;
  }
}


.isNew{
  .item-name, .chapter-number{
    color: red;
  }
}

.collapsed{
  &:hover{
    background: $document-hover;
  }
}

/*==========  Buttons  ==========*/

.btn {
  width: 24px !important;
  height: 24px !important;
  margin-right: 8px;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  cursor: pointer;

  &:hover, &:focus,{
    color: $button-active-color !important;
    text-decoration: none;
  }
}

.btn-download{
  float: right;
  margin-right: 10px;
}

.btn-preview{
  float: right;
  margin-right: 10px;
}

.btn-rename{
  float: right;
  margin-right: 10px;
}

.btn-delete{
  float: right;
  margin-right: 20px;
}

.btn-add{
  float: right;
  margin-right: 10px;
}

.btn-add-document{
  float: right;
  margin-right: 10px;
}

.btn-collapse{
  font-size: 1.5em;
  
  width: 24px !important;
  height: 24px !important;
  margin-right: 8px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: $collapse-button-color;

  &:hover,&:focus {
    color: $collapse-button-hover;
  }
}

.btn-add, .btn-delete, .btn-rename, .btn-add-document, .btn-preview, .btn-download{
  display: none;
}

.fa-caret-right, .fa-caret-down{
  font-size: .8em;
}

.angular-ui-tree-handle:hover {
  .btn-add, .btn-delete, .btn-rename, .btn-add-document, .btn-preview, .btn-download{
    display: inline-block;
    color: $fa-color;
    &:hover{
      color: $fa-hover;
    }
  }
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  box-sizing: border-box;
}

/*===================================
=            No document            =
===================================*/
.no-docs{
  background: $document-absent-bg !important;
}

#document-absent-title, #document-absent-subtitle{
  position: relative;
  float: left;
  z-index: 5;

  width: 100%;
  display: inline-block;
  text-align: center;
}

#document-absent-title{
  font-size: 2em;
  padding-bottom: 10px;
  padding-top: 40px;
  height: 10%;
}
#document-absent-subtitle{
  padding-bottom: 10px;
  height: 10%;
}

#document-absent-dropzone-container{
  position: absolute;
  bottom: 0px;
  height: calc(60% - 50px);
  width: 90%;
  // background: blue;
}

#document-absent-dropzone{
  position: relative;
  float: left;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 10%;
  // margin-bottom: 40px;

  // left: calc(50% - 200px);
  // width: 80%;
  background: $ultra-light-grey;
  border-radius: 60px;
  border: 4px dashed black;
}

#document-absent-dropzone-image{
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: center;

  font-size: 10em;
  color: black;

  line-height: 350px;
}

#document-absent-text-under-pic{
  position: absolute;
  bottom: 20px;
  width: 80%;
  left: 10%;
  text-align: center;
}

#document-absent-text-drop{
  font-size: 1.5em;
  margin-bottom: 10px;
}


#document-absent-type-item-droppable{
  font-size: .8em;
}

#document-absent-buttons-container{
  position: relative;
  float: left;
  width: 100%;
  display: inline-block;
  text-align: center;
}
#document-absent-buttons{
  position: relative;
  float: center;
  display: inline-block;
}

#create-first-document, #create-first-chapter{
  position: relative;
  float: left;

  padding: 10px 10px;
  margin: 0px 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}






// .containerSelected{
//   // background: red;
//   // border: 1px solid red;
//   // border: 1px dashed $border-chapter-selected;
//   // border-top: none;
//   // color: black;
//   // background: $container-items-selected-bg;
//   // background: inherit;
// }

// .parentChapterSelected{
//   background: $container-items-selected-bg;
//   border: 1px solid $container-items-selected-bg;
//   &:hover{
//     background: $container-items-selected-hover;
//   }
// }

// .chapterSelected{
//   background: $chapter-selected-bg;
//   border: 1px solid $chapter-selected-bg;
//   color: black;

//   .fa{
//     color: black;
//   }

//   &:hover{
//     background: $chapter-selected-hover;
//   }