<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>Unisphere</title>
    <%= stylesheet_link_tag 'mobile', media: 'all'%>
    <%= javascript_include_tag 'mobile' %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <%= render 'mobile/mobile_view' %>

    <script>
      var mySwiper = new Swiper ('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true
      })
    </script>
  </body>
</html>
